---
import "@neue/neue-css/index.css"; 
import '../pollen.css'

import AppShell from  '../components/AppShell.vue'

const { title } = Astro.props; 

const pathname = new URL(Astro.request.url).pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link rel="stylesheet" href="https://use.typekit.net/tqq6mmg.css" />
	</head>
	<body class="h-full min-h-screen bg-page-base">
			<AppShell
				pathname={pathname}
				client:load
			>
		
				<slot></slot>
			</AppShell>
	</body>
</html>
<style is:global lang="postcss">

@tailwind components;
@tailwind base;

@layer base {
  h1, h2, h3, h4, h5, h6, ul, li, p, button, span {
    font-family: "brandon-grotesque", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  }
	.my-list {
		@apply list-disc ml-6
	}
}
@layer components {
	.my-btn {
		@apply btn-base bg-primary-base border-2 button-roundness border-primary-mlt shadow-md; 
		/* &:hover {
        @apply bg-primary-mlt border-primary-base;
    } */

	}
  .btn-sm {
    @apply btn-p-sm; 
  }
  .btn-md {
		@apply btn-p-md; 
  }
  .btn-lg {
		@apply btn-p-lg ; 
  }
	.my-chip {
		@apply btn-chip-p btn-base; 
  }
	.my-input {
		@apply input-base input-roundness;
	}
	.my-select {
		@apply select-base input-roundness;
	}

	input.nested-input {
    box-shadow: none !important;
    border: none !important;
  }
	.page-section {
    @apply p-4 neue-rounded shadow-sm bg-page-base-75 border-surface-raised-base border;
  }
  .page-heading {
    @apply font-bold text-center pb-2;
  }
	.page-subheading {
    @apply font-bold text-center;
  }
  .page-subheading {
    @apply text-xl font-bold text-center;
  }
  .section-box {
    @apply p-4 neue-rounded border-2 border-neutral-light;
  }
}

</style>
