---
// import "../index.css"
import "@neue/neue-css/neue-tw-css-properties.css"
import "@neue/neue-css/neue-for-tw.css"

import AppShell from  '../components/AppShell.vue'

const { title } = Astro.props; 

const pathname = new URL(Astro.request.url).pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/tqq6mmg.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="h-full min-h-screen bg-page">
		<AppShell
				pathname={pathname}
				client:load
			>
		
				<slot></slot>
			</AppShell> 
	</body>
</html>
<style  >
 @tailwind components;
	.my-chip {
		@apply btn-chip btn-base; 
  }
	.my-input {
		@apply input-base bg-primary;
	}
	.my-select {
		@apply select-base  bg-primary;
	}

	input.nested-input {
    box-shadow: none !important;
    border: none !important;
  }
	.page-section {
    @apply p-4 shadow-sm border-surface-raised border;
  }
  .page-heading {
    @apply font-bold text-center pb-2;
  }
	.page-subheading {
    @apply font-bold text-center;
  }
  .page-subheading {
    @apply text-xl font-bold text-center;
  }
  .section-box {
    @apply p-4  border-2 border-neutral-light;
  }

	@layer components {
  .my-btn {
    @apply border-2 shadow-md btn-base bg-primary border-primary-mlt;
  }
  .my-chip {
    @apply btn-chip btn-base;
  }
  .my-input {
    @apply input-base;
  }
  .my-select {
    @apply select-base;
  }

  input.nested-input {
    box-shadow: none !important;
    border: none !important;
  }
  .page-section {
    @apply p-4 border shadow-sm  border-surface-raised;
  }
  .page-heading {
    @apply pb-2 font-bold text-center;
  }
  .page-subheading {
    @apply font-bold text-center;
  }
  .page-subheading {
    @apply text-xl font-bold text-center;
  }
  .section-box {
    @apply p-4 border-2 border-neutral-light;
  }
} 
</style>
