---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Docs Intro">
  <div class="inner-page-wrapper docs">
    <h1>DOCS!</h1>
    <h2>Wecome to the docs!</h2>
    <p>There isn't any thing to see here yet. Checkout the the  <a href="https://github.com/Foliole-UI-Toolkit/foliole-ui/issues/" class="inline-link">github issues</a> or  <a href="/docs/resources/roadmap">Roadmap</a> </p>
  </div>
</Layout>
