---
import Layout from '../../layouts/Layout.astro';
---
<Layout title="Intro.">
  <div class="inner-page-wrapper docs-intro">
    <h1>DOCS Introduction</h1>
    <h2>Welcome to the Foliole UI - Version Alpha!</h2>
    <p>This is an early demo site for testing and feedback from colleagues, family, and friends. Please feel free to share this with others who would like to help out and provide constructive feedback. Currently, the focus is on preparing the project for group contributions, presentation, and basic features and examples before putting it up on NPM. There is a ton of work to do, so if you are interested in contributing, please reach out to me at aaron.crockett.00@gmail.com. See more: <a href="/docs/resources/roadmap" class="font-bold text-tertiary-mdk">Rough Draft Roadmap.</a></p>

  </div>
</Layout>