button,
input,
optgroup,
select,
textarea {
  /* font-family:inherit; */
  /* font-size:100%; */
  /* font-weight:inherit; */
  /* line-height:inherit; */
  /* color:inherit; */
  /* margin:0; */
  padding: 0;
}
.btn-neue {
  font-size: var(--scale-0);
  line-height: var (--scale-00);
  /* pill */
  /* border-radius: var(--radius-full); */
  background: var(--color-primary-base);
}
.input-neue {
  padding: var(--size-2);
  border: 2px solid var(--color-neutral-mlt);
}
.bg-surface-base .input-neue {
  border: 2px solid var(--color-neutral-base);
}
.select-neue {
  padding: var(--size-2);
  border: 2px solid var(--color-neutral-mlt);
}

.bg-surface-base .select-neue {
  border: 2px solid var(--color-neutral-base);
}
