.btn-p-sm {
  padding: var(--btn-p-sm);
  font-size: var(--scale-00);
}
.btn-p-md {
  padding: var(--btn-p-base);
  font-size: var(--scale-0);
}
.btn-p-lg {
  padding: var(--btn-p-lg);
  font-size: var(--scale-1);
}
.chip-p {
  padding: var(--chip-p);
  font-size: var(--scale-00);
}
.btn-base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  border-radius: var(--ui-button-roundness);
}
.input-base {
  flex-shrink: 1;
  background-color: var(--color-surface-base);
  border-radius: var(--ui-input-roundness);
}
.bg-surface-base .input-base {
  background-color: var(--color-neutral-mlt);
}
.select-base {
  flex-shrink: 1;
  background-color: var(--color-surface-base);
  --webkit-appearance: none;
  border-radius: var(--ui-input-roundness);
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0rem center;
  background-size: 1.5rem;
}
.bg-surface-base .select-base {
  background-color: var(--color-neutral-mlt);
}
.input-color-base[type='color'] {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: var(--ui-input-roundness);
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  -webkit-appearance: none;
}
.input-color-base[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
  border-radius: var(--ui-input-roundness);
}
.input-color-base[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: var(--ui-input-roundness);
  padding: 0;
}
.input-color-base[type='color']::-moz-color-swatch {
  border: none;
  border-radius: var(--ui-input-roundness);
}
.input-checkbox-base,
.input-radio-base {
  width: 1.25rem;
  height: 1.25rem;
  ring-width: 0;
  cursor: pointer;
  border-width: border-token;
}
.input-radio-base {
  border-radius: var(--ui-input-roundness);
}
.bg-primary-base {
  background-color: var(--color-primary-base);
}
.bg-primary-light {
  background-color: var(--color-primary-light);
}
.bg-primary-light-dark {
  background-color: var(--color-primary-light);
}
.dark .bg-primary-light-dark {
  background-color: var(--color-primary-dark);
}
.bg-primary-mlt {
  background-color: var(--color-primary-mlt);
}
.bg-primary-mlt-mdk {
  background-color: var(--color-primary-mlt);
}
.dark .bg-primary-mlt-mdk {
  background-color: var(--color-primary-mdk);
}
.bg-primary-mdk {
  background-color: var(--color-primary-mdk);
}
.bg-primary-dark {
  background-color: var(--color-primary-dark);
}
.bg-secondary-base {
  background-color: var(--color-secondary-base);
}
.bg-secondary-light {
  background-color: var(--color-secondary-light);
}
.bg-secondary-light-dark {
  background-color: var(--color-secondary-light);
}
.dark .bg-secondary-light-dark {
  background-color: var(--color-secondary-dark);
}
.bg-secondary-mlt {
  background-color: var(--color-secondary-mlt);
}
.bg-secondary-mlt-mdk {
  background-color: var(--color-secondary-mlt);
}
.dark .bg-secondary-mlt-mdk {
  background-color: var(--color-secondary-mdk);
}
.bg-secondary-mdk {
  background-color: var(--color-secondary-mdk);
}
.bg-secondary-dark {
  background-color: var(--color-secondary-dark);
}
.bg-tertiary-base {
  background-color: var(--color-tertiary-base);
}
.bg-tertiary-light {
  background-color: var(--color-tertiary-light);
}
.bg-tertiary-light-dark {
  background-color: var(--color-tertiary-light);
}
.dark .bg-tertiary-light-dark {
  background-color: var(--color-tertiary-dark);
}
.bg-tertiary-mlt {
  background-color: var(--color-tertiary-mlt);
}
.bg-tertiary-mlt-mdk {
  background-color: var(--color-tertiary-mlt);
}
.dark .bg-tertiary-mlt-mdk {
  background-color: var(--color-tertiary-mdk);
}
.bg-tertiary-mdk {
  background-color: var(--color-tertiary-mdk);
}
.bg-tertiary-dark {
  background-color: var(--color-tertiary-dark);
}
.bg-quaternary-base {
  background-color: var(--color-quaternary-base);
}
.bg-quaternary-light {
  background-color: var(--color-quaternary-light);
}
.bg-quaternary-light-dark {
  background-color: var(--color-quaternary-light);
}
.dark .bg-quaternary-light-dark {
  background-color: var(--color-quaternary-dark);
}
.bg-quaternary-mlt {
  background-color: var(--color-quaternary-mlt);
}
.bg-quaternary-mlt-mdk {
  background-color: var(--color-quaternary-mlt);
}
.dark .bg-quaternary-mlt-mdk {
  background-color: var(--color-quaternary-mdk);
}
.bg-quaternary-mdk {
  background-color: var(--color-quaternary-mdk);
}
.bg-quaternary-dark {
  background-color: var(--color-quaternary-dark);
}
.bg-quinary-base {
  background-color: var(--color-quinary-base);
}
.bg-quinary-light {
  background-color: var(--color-quinary-light);
}
.bg-quinary-light-dark {
  background-color: var(--color-quinary-light);
}
.dark .bg-quinary-light-dark {
  background-color: var(--color-quinary-dark);
}
.bg-quinary-mlt {
  background-color: var(--color-quinary-mlt);
}
.bg-quinary-mlt-mdk {
  background-color: var(--color-quinary-mlt);
}
.dark .bg-quinary-mlt-mdk {
  background-color: var(--color-quinary-mdk);
}
.bg-quinary-mdk {
  background-color: var(--color-quinary-mdk);
}
.bg-quinary-dark {
  background-color: var(--color-quinary-dark);
}
.bg-success-base {
  background-color: var(--color-success-base);
}
.bg-success-light {
  background-color: var(--color-success-light);
}
.bg-success-light-dark {
  background-color: var(--color-success-light);
}
.dark .bg-success-light-dark {
  background-color: var(--color-success-dark);
}
.bg-success-mlt {
  background-color: var(--color-success-mlt);
}
.bg-success-mlt-mdk {
  background-color: var(--color-success-mlt);
}
.dark .bg-success-mlt-mdk {
  background-color: var(--color-success-mdk);
}
.bg-success-mdk {
  background-color: var(--color-success-mdk);
}
.bg-success-dark {
  background-color: var(--color-success-dark);
}
.bg-warning-base {
  background-color: var(--color-warning-base);
}
.bg-warning-light {
  background-color: var(--color-warning-light);
}
.bg-warning-light-dark {
  background-color: var(--color-warning-light);
}
.dark .bg-warning-light-dark {
  background-color: var(--color-warning-dark);
}
.bg-warning-mlt {
  background-color: var(--color-warning-mlt);
}
.bg-warning-mlt-mdk {
  background-color: var(--color-warning-mlt);
}
.dark .bg-warning-mlt-mdk {
  background-color: var(--color-warning-mdk);
}
.bg-warning-mdk {
  background-color: var(--color-warning-mdk);
}
.bg-warning-dark {
  background-color: var(--color-warning-dark);
}
.bg-error-base {
  background-color: var(--color-error-base);
}
.bg-error-light {
  background-color: var(--color-error-light);
}
.bg-error-light-dark {
  background-color: var(--color-error-light);
}
.dark .bg-error-light-dark {
  background-color: var(--color-error-dark);
}
.bg-error-mlt {
  background-color: var(--color-error-mlt);
}
.bg-error-mlt-mdk {
  background-color: var(--color-error-mlt);
}
.dark .bg-error-mlt-mdk {
  background-color: var(--color-error-mdk);
}
.bg-error-mdk {
  background-color: var(--color-error-mdk);
}
.bg-error-dark {
  background-color: var(--color-error-dark);
}
.bg-neutral-base {
  background-color: var(--color-neutral-base);
}
.bg-neutral-light {
  background-color: var(--color-neutral-light);
}
.bg-neutral-light-dark {
  background-color: var(--color-neutral-light);
}
.dark .bg-neutral-light-dark {
  background-color: var(--color-neutral-dark);
}
.bg-neutral-mlt {
  background-color: var(--color-neutral-mlt);
}
.bg-neutral-mlt-mdk {
  background-color: var(--color-neutral-mlt);
}
.dark .bg-neutral-mlt-mdk {
  background-color: var(--color-neutral-mdk);
}
.bg-neutral-mdk {
  background-color: var(--color-neutral-mdk);
}
.bg-neutral-dark {
  background-color: var(--color-neutral-dark);
}
.bg-page-base {
  background-color: var(--color-page-base);
}
.dark .bg-page-base {
  background-color: var(--color-page-contrast-base);
}
.bg-page-contrast-base {
  background-color: var(--color-page-contrast-base);
}
.dark .bg-page-contrast-base {
  background-color: var(--color-page-base);
}
.bg-surface-base {
  background-color: var(--color-surface-base);
}
.dark .bg-surface-base {
  background-color: var(--color-surface-contrast-base);
}
.bg-surface-contrast-base {
  background-color: var(--color-surface-contrast-base);
}
.dark .bg-surface-contrast-base {
  background-color: var(--color-surface-base);
}
.bg-surface-raised-base {
  background-color: var(--color-surface-raised-base);
}
.dark .bg-surface-raised-base {
  background-color: var(--color-surface-raised-contrast-base);
}
.bg-surface-raised-contrast-base {
  background-color: var(--color-surface-raised-contrast-base);
}
.dark .bg-surface-raised-contrast-base {
  background-color: var(--color-surface-raised-base);
}
.text-primary-base {
  color: var(--color-primary-base);
}
.text-primary-light {
  color: var(--color-primary-light);
}
.text-primary-mlt {
  color: var(--color-primary-mlt);
}
.text-primary-mdk {
  color: var(--color-primary-mdk);
}
.text-primary-dark {
  color: var(--color-primary-dark);
}
.text-secondary-base {
  color: var(--color-secondary-base);
}
.text-secondary-light {
  color: var(--color-secondary-light);
}
.text-secondary-mlt {
  color: var(--color-secondary-mlt);
}
.text-secondary-mdk {
  color: var(--color-secondary-mdk);
}
.text-secondary-dark {
  color: var(--color-secondary-dark);
}
.text-tertiary-base {
  color: var(--color-tertiary-base);
}
.text-tertiary-light {
  color: var(--color-tertiary-light);
}
.text-tertiary-mlt {
  color: var(--color-tertiary-mlt);
}
.text-tertiary-mdk {
  color: var(--color-tertiary-mdk);
}
.text-tertiary-dark {
  color: var(--color-tertiary-dark);
}
.text-quaternary-base {
  color: var(--color-quaternary-base);
}
.text-quaternary-light {
  color: var(--color-quaternary-light);
}
.text-quaternary-mlt {
  color: var(--color-quaternary-mlt);
}
.text-quaternary-mdk {
  color: var(--color-quaternary-mdk);
}
.text-quaternary-dark {
  color: var(--color-quaternary-dark);
}
.text-quinary-base {
  color: var(--color-quinary-base);
}
.text-quinary-light {
  color: var(--color-quinary-light);
}
.text-quinary-mlt {
  color: var(--color-quinary-mlt);
}
.text-quinary-mdk {
  color: var(--color-quinary-mdk);
}
.text-quinary-dark {
  color: var(--color-quinary-dark);
}
.text-success-base {
  color: var(--color-success-base);
}
.text-success-light {
  color: var(--color-success-light);
}
.text-success-mlt {
  color: var(--color-success-mlt);
}
.text-success-mdk {
  color: var(--color-success-mdk);
}
.text-success-dark {
  color: var(--color-success-dark);
}
.text-warning-base {
  color: var(--color-warning-base);
}
.text-warning-light {
  color: var(--color-warning-light);
}
.text-warning-mlt {
  color: var(--color-warning-mlt);
}
.text-warning-mdk {
  color: var(--color-warning-mdk);
}
.text-warning-dark {
  color: var(--color-warning-dark);
}
.text-error-base {
  color: var(--color-error-base);
}
.text-error-light {
  color: var(--color-error-light);
}
.text-error-mlt {
  color: var(--color-error-mlt);
}
.text-error-mdk {
  color: var(--color-error-mdk);
}
.text-error-dark {
  color: var(--color-error-dark);
}
.text-neutral-base {
  color: var(--color-neutral-base);
}
.text-neutral-light {
  color: var(--color-neutral-light);
}
.text-neutral-mlt {
  color: var(--color-neutral-mlt);
}
.text-neutral-mdk {
  color: var(--color-neutral-mdk);
}
.text-neutral-dark {
  color: var(--color-neutral-dark);
}
.text-page-base {
  color: var(--color-page-base);
}
.dark .text-page-base {
  color: var(--color-page-contrast-base);
}
.text-page-contrast-base {
  color: var(--color-page-contrast-base);
}
.dark .text-page-contrast-base {
  color: var(--color-page-base);
}
.text-surface-base {
  color: var(--color-surface-base);
}
.dark .text-surface-base {
  color: var(--color-surface-contrast-base);
}
.text-surface-contrast-base {
  color: var(--color-surface-contrast-base);
}
.dark .text-surface-contrast-base {
  color: var(--color-surface-base);
}
.text-surface-raised-base {
  color: var(--color-surface-raised-base);
}
.dark .text-surface-raised-base {
  color: var(--color-surface-raised-contrast-base);
}
.text-surface-raised-contrast-base {
  color: var(--color-surface-raised-contrast-base);
}
.dark .text-surface-raised-contrast-base {
  color: var(--color-surface-raised-base);
}
.rounded {
  border-radius: var(--ui-rounded);
}
