.btn-p-sm {
  padding: var(--btn-p-sm);
  font-size: var(--btn-font-sm-size);
}
.btn-p-md {
  padding: var(--btn-p-base);
  font-size: var(--btn-font-size);
}
.btn-p-lg {
  padding: var(--btn-p-lg);
  font-size: var(--btn-font-lg-size);
}
.btn-chip-p {
  padding: var(--btn-chip-p);
  font-size: var(--btn-font-sm-size);
}
.btn-base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
  border-radius: var(--ui-button-roundness);
  transition:
    filter 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}
.btn-base:hover {
  transform: scale(var(--btn-hover-scale));
  filter: brightness(var(--btn-hover-filter));
}
.btn-base:active {
  transform: scale(var(--btn-active-scale));
  filter: brightness(var(--btn-active-filter));
}
.input-base {
  flex-shrink: 1;
  background-color: rgba(var(--color-surface));
  border-radius: var(--ui-input-roundness);
  padding: var(--el-p-base) var(--el-p-double);
}
.bg-surface .input-base {
  background-color: rgba(var(--color-neutral-mlt));
}
.select-base {
  flex-shrink: 1;
  background-color: rgba(var(--color-surface));
  --webkit-appearance: none;
  border-radius: var(--ui-input-roundness);
  appearance: none;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 0.25rem center;
  background-size: 1.5rem;
  padding: var(--el-p-base) var(--el-p-double);
}
.bg-surface .select-base {
  background-color: rgba(var(--color-neutral-mlt));
}
.input-color-base[type='color'] {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: var(--ui-input-roundness);
  overflow: hidden;
  cursor: pointer;
  padding: 0;
  -webkit-appearance: none;
}
.input-color-base[type='color']::-webkit-color-swatch-wrapper {
  padding: 0;
  border: none;
  border-radius: var(--ui-input-roundness);
}
.input-color-base[type='color']::-webkit-color-swatch {
  border: none;
  border-radius: var(--ui-input-roundness);
  padding: 0;
}
.input-color-base[type='color']::-moz-color-swatch {
  border: none;
  border-radius: var(--ui-input-roundness);
}
.input-checkbox-base,
.input-radio-base {
  width: 1.25rem;
  height: 1.25rem;
  ring-width: 0;
  cursor: pointer;
  border-width: border-token;
}
.input-radio-base {
  border-radius: var(--ui-input-roundness);
}
.bg-primary {
  background-color: rgba(var(--color-primary), 1);
}
.bg-primary-10 {
  background-color: rgba(var(--color-primary), 0.1);
}
.bg-primary-25 {
  background-color: rgba(var(--color-primary), 0.25);
}
.bg-primary-50 {
  background-color: rgba(var(--color-primary), 0.5);
}
.bg-primary-75 {
  background-color: rgba(var(--color-primary), 0.75);
}
.bg-primary-90 {
  background-color: rgba(var(--color-primary), 0.9);
}
.bg-primary-light {
  background-color: rgba(var(--color-primary-light), 1);
}
.bg-primary-light-10 {
  background-color: rgba(var(--color-primary-light), 0.1);
}
.bg-primary-light-25 {
  background-color: rgba(var(--color-primary-light), 0.25);
}
.bg-primary-light-50 {
  background-color: rgba(var(--color-primary-light), 0.5);
}
.bg-primary-light-75 {
  background-color: rgba(var(--color-primary-light), 0.75);
}
.bg-primary-light-90 {
  background-color: rgba(var(--color-primary-light), 0.9);
}
.bg-primary-mlt {
  background-color: rgba(var(--color-primary-mlt), 1);
}
.bg-primary-mlt-10 {
  background-color: rgba(var(--color-primary-mlt), 0.1);
}
.bg-primary-mlt-25 {
  background-color: rgba(var(--color-primary-mlt), 0.25);
}
.bg-primary-mlt-50 {
  background-color: rgba(var(--color-primary-mlt), 0.5);
}
.bg-primary-mlt-75 {
  background-color: rgba(var(--color-primary-mlt), 0.75);
}
.bg-primary-mlt-90 {
  background-color: rgba(var(--color-primary-mlt), 0.9);
}
.bg-primary-mdk {
  background-color: rgba(var(--color-primary-mdk), 1);
}
.bg-primary-mdk-10 {
  background-color: rgba(var(--color-primary-mdk), 0.1);
}
.bg-primary-mdk-25 {
  background-color: rgba(var(--color-primary-mdk), 0.25);
}
.bg-primary-mdk-50 {
  background-color: rgba(var(--color-primary-mdk), 0.5);
}
.bg-primary-mdk-75 {
  background-color: rgba(var(--color-primary-mdk), 0.75);
}
.bg-primary-mdk-90 {
  background-color: rgba(var(--color-primary-mdk), 0.9);
}
.bg-primary-dark {
  background-color: rgba(var(--color-primary-dark), 1);
}
.bg-primary-dark-10 {
  background-color: rgba(var(--color-primary-dark), 0.1);
}
.bg-primary-dark-25 {
  background-color: rgba(var(--color-primary-dark), 0.25);
}
.bg-primary-dark-50 {
  background-color: rgba(var(--color-primary-dark), 0.5);
}
.bg-primary-dark-75 {
  background-color: rgba(var(--color-primary-dark), 0.75);
}
.bg-primary-dark-90 {
  background-color: rgba(var(--color-primary-dark), 0.9);
}
.dark .bg-primary-light-dark {
  background-color: rgba(var(--color-primary-dark), 1);
}
.dark .bg-primary-light-dark-90 {
  background-color: rgba(var(--color-primary-dark), 0.9);
}
.dark .bg-primary-light-dark-75 {
  background-color: rgba(var(--color-primary-dark), 0.75);
}
.dark .bg-primary-light-dark-50 {
  background-color: rgba(var(--color-primary-dark), 0.5);
}
.dark .bg-primary-light-dark-10 {
  background-color: rgba(var(--color-primary-dark), 0.1);
}
.bg-primary-mlt-mdk {
  background-color: rgba(var(--color-primary-mlt), 1);
}
.bg-primary-mlt-mdk-90 {
  background-color: rgba(var(--color-primary-mlt), 0.9);
}
.bg-primary-mlt-mdk-75 {
  background-color: rgba(var(--color-primary-mlt), 0.75);
}
.bg-primary-mlt-mdk-50 {
  background-color: rgba(var(--color-primary-mlt), 0.5);
}
.bg-primary-mlt-mdk-10 {
  background-color: rgba(var(--color-primary-mlt), 0.1);
}
.dark .bg-primary-mlt-mdk {
  background-color: rgba(var(--color-primary-mdk), 1);
}
.dark .bg-primary-mlt-mdk-90 {
  background-color: rgba(var(--color-primary-mdk), 0.9);
}
.dark .bg-primary-mlt-mdk-75 {
  background-color: rgba(var(--color-primary-mdk), 0.75);
}
.dark .bg-primary-mlt-mdk-50 {
  background-color: rgba(var(--color-primary-mdk), 0.5);
}
.dark .bg-primary-mlt-mdk-10 {
  background-color: rgba(var(--color-primary-mdk), 0.1);
}
.bg-secondary {
  background-color: rgba(var(--color-secondary), 1);
}
.bg-secondary-10 {
  background-color: rgba(var(--color-secondary), 0.1);
}
.bg-secondary-25 {
  background-color: rgba(var(--color-secondary), 0.25);
}
.bg-secondary-50 {
  background-color: rgba(var(--color-secondary), 0.5);
}
.bg-secondary-75 {
  background-color: rgba(var(--color-secondary), 0.75);
}
.bg-secondary-90 {
  background-color: rgba(var(--color-secondary), 0.9);
}
.bg-secondary-light {
  background-color: rgba(var(--color-secondary-light), 1);
}
.bg-secondary-light-10 {
  background-color: rgba(var(--color-secondary-light), 0.1);
}
.bg-secondary-light-25 {
  background-color: rgba(var(--color-secondary-light), 0.25);
}
.bg-secondary-light-50 {
  background-color: rgba(var(--color-secondary-light), 0.5);
}
.bg-secondary-light-75 {
  background-color: rgba(var(--color-secondary-light), 0.75);
}
.bg-secondary-light-90 {
  background-color: rgba(var(--color-secondary-light), 0.9);
}
.bg-secondary-mlt {
  background-color: rgba(var(--color-secondary-mlt), 1);
}
.bg-secondary-mlt-10 {
  background-color: rgba(var(--color-secondary-mlt), 0.1);
}
.bg-secondary-mlt-25 {
  background-color: rgba(var(--color-secondary-mlt), 0.25);
}
.bg-secondary-mlt-50 {
  background-color: rgba(var(--color-secondary-mlt), 0.5);
}
.bg-secondary-mlt-75 {
  background-color: rgba(var(--color-secondary-mlt), 0.75);
}
.bg-secondary-mlt-90 {
  background-color: rgba(var(--color-secondary-mlt), 0.9);
}
.bg-secondary-mdk {
  background-color: rgba(var(--color-secondary-mdk), 1);
}
.bg-secondary-mdk-10 {
  background-color: rgba(var(--color-secondary-mdk), 0.1);
}
.bg-secondary-mdk-25 {
  background-color: rgba(var(--color-secondary-mdk), 0.25);
}
.bg-secondary-mdk-50 {
  background-color: rgba(var(--color-secondary-mdk), 0.5);
}
.bg-secondary-mdk-75 {
  background-color: rgba(var(--color-secondary-mdk), 0.75);
}
.bg-secondary-mdk-90 {
  background-color: rgba(var(--color-secondary-mdk), 0.9);
}
.bg-secondary-dark {
  background-color: rgba(var(--color-secondary-dark), 1);
}
.bg-secondary-dark-10 {
  background-color: rgba(var(--color-secondary-dark), 0.1);
}
.bg-secondary-dark-25 {
  background-color: rgba(var(--color-secondary-dark), 0.25);
}
.bg-secondary-dark-50 {
  background-color: rgba(var(--color-secondary-dark), 0.5);
}
.bg-secondary-dark-75 {
  background-color: rgba(var(--color-secondary-dark), 0.75);
}
.bg-secondary-dark-90 {
  background-color: rgba(var(--color-secondary-dark), 0.9);
}
.dark .bg-secondary-light-dark {
  background-color: rgba(var(--color-secondary-dark), 1);
}
.dark .bg-secondary-light-dark-90 {
  background-color: rgba(var(--color-secondary-dark), 0.9);
}
.dark .bg-secondary-light-dark-75 {
  background-color: rgba(var(--color-secondary-dark), 0.75);
}
.dark .bg-secondary-light-dark-50 {
  background-color: rgba(var(--color-secondary-dark), 0.5);
}
.dark .bg-secondary-light-dark-10 {
  background-color: rgba(var(--color-secondary-dark), 0.1);
}
.bg-secondary-mlt-mdk {
  background-color: rgba(var(--color-secondary-mlt), 1);
}
.bg-secondary-mlt-mdk-90 {
  background-color: rgba(var(--color-secondary-mlt), 0.9);
}
.bg-secondary-mlt-mdk-75 {
  background-color: rgba(var(--color-secondary-mlt), 0.75);
}
.bg-secondary-mlt-mdk-50 {
  background-color: rgba(var(--color-secondary-mlt), 0.5);
}
.bg-secondary-mlt-mdk-10 {
  background-color: rgba(var(--color-secondary-mlt), 0.1);
}
.dark .bg-secondary-mlt-mdk {
  background-color: rgba(var(--color-secondary-mdk), 1);
}
.dark .bg-secondary-mlt-mdk-90 {
  background-color: rgba(var(--color-secondary-mdk), 0.9);
}
.dark .bg-secondary-mlt-mdk-75 {
  background-color: rgba(var(--color-secondary-mdk), 0.75);
}
.dark .bg-secondary-mlt-mdk-50 {
  background-color: rgba(var(--color-secondary-mdk), 0.5);
}
.dark .bg-secondary-mlt-mdk-10 {
  background-color: rgba(var(--color-secondary-mdk), 0.1);
}
.bg-tertiary {
  background-color: rgba(var(--color-tertiary), 1);
}
.bg-tertiary-10 {
  background-color: rgba(var(--color-tertiary), 0.1);
}
.bg-tertiary-25 {
  background-color: rgba(var(--color-tertiary), 0.25);
}
.bg-tertiary-50 {
  background-color: rgba(var(--color-tertiary), 0.5);
}
.bg-tertiary-75 {
  background-color: rgba(var(--color-tertiary), 0.75);
}
.bg-tertiary-90 {
  background-color: rgba(var(--color-tertiary), 0.9);
}
.bg-tertiary-light {
  background-color: rgba(var(--color-tertiary-light), 1);
}
.bg-tertiary-light-10 {
  background-color: rgba(var(--color-tertiary-light), 0.1);
}
.bg-tertiary-light-25 {
  background-color: rgba(var(--color-tertiary-light), 0.25);
}
.bg-tertiary-light-50 {
  background-color: rgba(var(--color-tertiary-light), 0.5);
}
.bg-tertiary-light-75 {
  background-color: rgba(var(--color-tertiary-light), 0.75);
}
.bg-tertiary-light-90 {
  background-color: rgba(var(--color-tertiary-light), 0.9);
}
.bg-tertiary-mlt {
  background-color: rgba(var(--color-tertiary-mlt), 1);
}
.bg-tertiary-mlt-10 {
  background-color: rgba(var(--color-tertiary-mlt), 0.1);
}
.bg-tertiary-mlt-25 {
  background-color: rgba(var(--color-tertiary-mlt), 0.25);
}
.bg-tertiary-mlt-50 {
  background-color: rgba(var(--color-tertiary-mlt), 0.5);
}
.bg-tertiary-mlt-75 {
  background-color: rgba(var(--color-tertiary-mlt), 0.75);
}
.bg-tertiary-mlt-90 {
  background-color: rgba(var(--color-tertiary-mlt), 0.9);
}
.bg-tertiary-mdk {
  background-color: rgba(var(--color-tertiary-mdk), 1);
}
.bg-tertiary-mdk-10 {
  background-color: rgba(var(--color-tertiary-mdk), 0.1);
}
.bg-tertiary-mdk-25 {
  background-color: rgba(var(--color-tertiary-mdk), 0.25);
}
.bg-tertiary-mdk-50 {
  background-color: rgba(var(--color-tertiary-mdk), 0.5);
}
.bg-tertiary-mdk-75 {
  background-color: rgba(var(--color-tertiary-mdk), 0.75);
}
.bg-tertiary-mdk-90 {
  background-color: rgba(var(--color-tertiary-mdk), 0.9);
}
.bg-tertiary-dark {
  background-color: rgba(var(--color-tertiary-dark), 1);
}
.bg-tertiary-dark-10 {
  background-color: rgba(var(--color-tertiary-dark), 0.1);
}
.bg-tertiary-dark-25 {
  background-color: rgba(var(--color-tertiary-dark), 0.25);
}
.bg-tertiary-dark-50 {
  background-color: rgba(var(--color-tertiary-dark), 0.5);
}
.bg-tertiary-dark-75 {
  background-color: rgba(var(--color-tertiary-dark), 0.75);
}
.bg-tertiary-dark-90 {
  background-color: rgba(var(--color-tertiary-dark), 0.9);
}
.dark .bg-tertiary-light-dark {
  background-color: rgba(var(--color-tertiary-dark), 1);
}
.dark .bg-tertiary-light-dark-90 {
  background-color: rgba(var(--color-tertiary-dark), 0.9);
}
.dark .bg-tertiary-light-dark-75 {
  background-color: rgba(var(--color-tertiary-dark), 0.75);
}
.dark .bg-tertiary-light-dark-50 {
  background-color: rgba(var(--color-tertiary-dark), 0.5);
}
.dark .bg-tertiary-light-dark-10 {
  background-color: rgba(var(--color-tertiary-dark), 0.1);
}
.bg-tertiary-mlt-mdk {
  background-color: rgba(var(--color-tertiary-mlt), 1);
}
.bg-tertiary-mlt-mdk-90 {
  background-color: rgba(var(--color-tertiary-mlt), 0.9);
}
.bg-tertiary-mlt-mdk-75 {
  background-color: rgba(var(--color-tertiary-mlt), 0.75);
}
.bg-tertiary-mlt-mdk-50 {
  background-color: rgba(var(--color-tertiary-mlt), 0.5);
}
.bg-tertiary-mlt-mdk-10 {
  background-color: rgba(var(--color-tertiary-mlt), 0.1);
}
.dark .bg-tertiary-mlt-mdk {
  background-color: rgba(var(--color-tertiary-mdk), 1);
}
.dark .bg-tertiary-mlt-mdk-90 {
  background-color: rgba(var(--color-tertiary-mdk), 0.9);
}
.dark .bg-tertiary-mlt-mdk-75 {
  background-color: rgba(var(--color-tertiary-mdk), 0.75);
}
.dark .bg-tertiary-mlt-mdk-50 {
  background-color: rgba(var(--color-tertiary-mdk), 0.5);
}
.dark .bg-tertiary-mlt-mdk-10 {
  background-color: rgba(var(--color-tertiary-mdk), 0.1);
}
.bg-quat {
  background-color: rgba(var(--color-quat), 1);
}
.bg-quat-10 {
  background-color: rgba(var(--color-quat), 0.1);
}
.bg-quat-25 {
  background-color: rgba(var(--color-quat), 0.25);
}
.bg-quat-50 {
  background-color: rgba(var(--color-quat), 0.5);
}
.bg-quat-75 {
  background-color: rgba(var(--color-quat), 0.75);
}
.bg-quat-90 {
  background-color: rgba(var(--color-quat), 0.9);
}
.bg-quat-light {
  background-color: rgba(var(--color-quat-light), 1);
}
.bg-quat-light-10 {
  background-color: rgba(var(--color-quat-light), 0.1);
}
.bg-quat-light-25 {
  background-color: rgba(var(--color-quat-light), 0.25);
}
.bg-quat-light-50 {
  background-color: rgba(var(--color-quat-light), 0.5);
}
.bg-quat-light-75 {
  background-color: rgba(var(--color-quat-light), 0.75);
}
.bg-quat-light-90 {
  background-color: rgba(var(--color-quat-light), 0.9);
}
.bg-quat-mlt {
  background-color: rgba(var(--color-quat-mlt), 1);
}
.bg-quat-mlt-10 {
  background-color: rgba(var(--color-quat-mlt), 0.1);
}
.bg-quat-mlt-25 {
  background-color: rgba(var(--color-quat-mlt), 0.25);
}
.bg-quat-mlt-50 {
  background-color: rgba(var(--color-quat-mlt), 0.5);
}
.bg-quat-mlt-75 {
  background-color: rgba(var(--color-quat-mlt), 0.75);
}
.bg-quat-mlt-90 {
  background-color: rgba(var(--color-quat-mlt), 0.9);
}
.bg-quat-mdk {
  background-color: rgba(var(--color-quat-mdk), 1);
}
.bg-quat-mdk-10 {
  background-color: rgba(var(--color-quat-mdk), 0.1);
}
.bg-quat-mdk-25 {
  background-color: rgba(var(--color-quat-mdk), 0.25);
}
.bg-quat-mdk-50 {
  background-color: rgba(var(--color-quat-mdk), 0.5);
}
.bg-quat-mdk-75 {
  background-color: rgba(var(--color-quat-mdk), 0.75);
}
.bg-quat-mdk-90 {
  background-color: rgba(var(--color-quat-mdk), 0.9);
}
.bg-quat-dark {
  background-color: rgba(var(--color-quat-dark), 1);
}
.bg-quat-dark-10 {
  background-color: rgba(var(--color-quat-dark), 0.1);
}
.bg-quat-dark-25 {
  background-color: rgba(var(--color-quat-dark), 0.25);
}
.bg-quat-dark-50 {
  background-color: rgba(var(--color-quat-dark), 0.5);
}
.bg-quat-dark-75 {
  background-color: rgba(var(--color-quat-dark), 0.75);
}
.bg-quat-dark-90 {
  background-color: rgba(var(--color-quat-dark), 0.9);
}
.dark .bg-quat-light-dark {
  background-color: rgba(var(--color-quat-dark), 1);
}
.dark .bg-quat-light-dark-90 {
  background-color: rgba(var(--color-quat-dark), 0.9);
}
.dark .bg-quat-light-dark-75 {
  background-color: rgba(var(--color-quat-dark), 0.75);
}
.dark .bg-quat-light-dark-50 {
  background-color: rgba(var(--color-quat-dark), 0.5);
}
.dark .bg-quat-light-dark-10 {
  background-color: rgba(var(--color-quat-dark), 0.1);
}
.bg-quat-mlt-mdk {
  background-color: rgba(var(--color-quat-mlt), 1);
}
.bg-quat-mlt-mdk-90 {
  background-color: rgba(var(--color-quat-mlt), 0.9);
}
.bg-quat-mlt-mdk-75 {
  background-color: rgba(var(--color-quat-mlt), 0.75);
}
.bg-quat-mlt-mdk-50 {
  background-color: rgba(var(--color-quat-mlt), 0.5);
}
.bg-quat-mlt-mdk-10 {
  background-color: rgba(var(--color-quat-mlt), 0.1);
}
.dark .bg-quat-mlt-mdk {
  background-color: rgba(var(--color-quat-mdk), 1);
}
.dark .bg-quat-mlt-mdk-90 {
  background-color: rgba(var(--color-quat-mdk), 0.9);
}
.dark .bg-quat-mlt-mdk-75 {
  background-color: rgba(var(--color-quat-mdk), 0.75);
}
.dark .bg-quat-mlt-mdk-50 {
  background-color: rgba(var(--color-quat-mdk), 0.5);
}
.dark .bg-quat-mlt-mdk-10 {
  background-color: rgba(var(--color-quat-mdk), 0.1);
}
.bg-quin {
  background-color: rgba(var(--color-quin), 1);
}
.bg-quin-10 {
  background-color: rgba(var(--color-quin), 0.1);
}
.bg-quin-25 {
  background-color: rgba(var(--color-quin), 0.25);
}
.bg-quin-50 {
  background-color: rgba(var(--color-quin), 0.5);
}
.bg-quin-75 {
  background-color: rgba(var(--color-quin), 0.75);
}
.bg-quin-90 {
  background-color: rgba(var(--color-quin), 0.9);
}
.bg-quin-light {
  background-color: rgba(var(--color-quin-light), 1);
}
.bg-quin-light-10 {
  background-color: rgba(var(--color-quin-light), 0.1);
}
.bg-quin-light-25 {
  background-color: rgba(var(--color-quin-light), 0.25);
}
.bg-quin-light-50 {
  background-color: rgba(var(--color-quin-light), 0.5);
}
.bg-quin-light-75 {
  background-color: rgba(var(--color-quin-light), 0.75);
}
.bg-quin-light-90 {
  background-color: rgba(var(--color-quin-light), 0.9);
}
.bg-quin-mlt {
  background-color: rgba(var(--color-quin-mlt), 1);
}
.bg-quin-mlt-10 {
  background-color: rgba(var(--color-quin-mlt), 0.1);
}
.bg-quin-mlt-25 {
  background-color: rgba(var(--color-quin-mlt), 0.25);
}
.bg-quin-mlt-50 {
  background-color: rgba(var(--color-quin-mlt), 0.5);
}
.bg-quin-mlt-75 {
  background-color: rgba(var(--color-quin-mlt), 0.75);
}
.bg-quin-mlt-90 {
  background-color: rgba(var(--color-quin-mlt), 0.9);
}
.bg-quin-mdk {
  background-color: rgba(var(--color-quin-mdk), 1);
}
.bg-quin-mdk-10 {
  background-color: rgba(var(--color-quin-mdk), 0.1);
}
.bg-quin-mdk-25 {
  background-color: rgba(var(--color-quin-mdk), 0.25);
}
.bg-quin-mdk-50 {
  background-color: rgba(var(--color-quin-mdk), 0.5);
}
.bg-quin-mdk-75 {
  background-color: rgba(var(--color-quin-mdk), 0.75);
}
.bg-quin-mdk-90 {
  background-color: rgba(var(--color-quin-mdk), 0.9);
}
.bg-quin-dark {
  background-color: rgba(var(--color-quin-dark), 1);
}
.bg-quin-dark-10 {
  background-color: rgba(var(--color-quin-dark), 0.1);
}
.bg-quin-dark-25 {
  background-color: rgba(var(--color-quin-dark), 0.25);
}
.bg-quin-dark-50 {
  background-color: rgba(var(--color-quin-dark), 0.5);
}
.bg-quin-dark-75 {
  background-color: rgba(var(--color-quin-dark), 0.75);
}
.bg-quin-dark-90 {
  background-color: rgba(var(--color-quin-dark), 0.9);
}
.dark .bg-quin-light-dark {
  background-color: rgba(var(--color-quin-dark), 1);
}
.dark .bg-quin-light-dark-90 {
  background-color: rgba(var(--color-quin-dark), 0.9);
}
.dark .bg-quin-light-dark-75 {
  background-color: rgba(var(--color-quin-dark), 0.75);
}
.dark .bg-quin-light-dark-50 {
  background-color: rgba(var(--color-quin-dark), 0.5);
}
.dark .bg-quin-light-dark-10 {
  background-color: rgba(var(--color-quin-dark), 0.1);
}
.bg-quin-mlt-mdk {
  background-color: rgba(var(--color-quin-mlt), 1);
}
.bg-quin-mlt-mdk-90 {
  background-color: rgba(var(--color-quin-mlt), 0.9);
}
.bg-quin-mlt-mdk-75 {
  background-color: rgba(var(--color-quin-mlt), 0.75);
}
.bg-quin-mlt-mdk-50 {
  background-color: rgba(var(--color-quin-mlt), 0.5);
}
.bg-quin-mlt-mdk-10 {
  background-color: rgba(var(--color-quin-mlt), 0.1);
}
.dark .bg-quin-mlt-mdk {
  background-color: rgba(var(--color-quin-mdk), 1);
}
.dark .bg-quin-mlt-mdk-90 {
  background-color: rgba(var(--color-quin-mdk), 0.9);
}
.dark .bg-quin-mlt-mdk-75 {
  background-color: rgba(var(--color-quin-mdk), 0.75);
}
.dark .bg-quin-mlt-mdk-50 {
  background-color: rgba(var(--color-quin-mdk), 0.5);
}
.dark .bg-quin-mlt-mdk-10 {
  background-color: rgba(var(--color-quin-mdk), 0.1);
}
.bg-success {
  background-color: rgba(var(--color-success), 1);
}
.bg-success-10 {
  background-color: rgba(var(--color-success), 0.1);
}
.bg-success-25 {
  background-color: rgba(var(--color-success), 0.25);
}
.bg-success-50 {
  background-color: rgba(var(--color-success), 0.5);
}
.bg-success-75 {
  background-color: rgba(var(--color-success), 0.75);
}
.bg-success-90 {
  background-color: rgba(var(--color-success), 0.9);
}
.bg-success-light {
  background-color: rgba(var(--color-success-light), 1);
}
.bg-success-light-10 {
  background-color: rgba(var(--color-success-light), 0.1);
}
.bg-success-light-25 {
  background-color: rgba(var(--color-success-light), 0.25);
}
.bg-success-light-50 {
  background-color: rgba(var(--color-success-light), 0.5);
}
.bg-success-light-75 {
  background-color: rgba(var(--color-success-light), 0.75);
}
.bg-success-light-90 {
  background-color: rgba(var(--color-success-light), 0.9);
}
.bg-success-mlt {
  background-color: rgba(var(--color-success-mlt), 1);
}
.bg-success-mlt-10 {
  background-color: rgba(var(--color-success-mlt), 0.1);
}
.bg-success-mlt-25 {
  background-color: rgba(var(--color-success-mlt), 0.25);
}
.bg-success-mlt-50 {
  background-color: rgba(var(--color-success-mlt), 0.5);
}
.bg-success-mlt-75 {
  background-color: rgba(var(--color-success-mlt), 0.75);
}
.bg-success-mlt-90 {
  background-color: rgba(var(--color-success-mlt), 0.9);
}
.bg-success-mdk {
  background-color: rgba(var(--color-success-mdk), 1);
}
.bg-success-mdk-10 {
  background-color: rgba(var(--color-success-mdk), 0.1);
}
.bg-success-mdk-25 {
  background-color: rgba(var(--color-success-mdk), 0.25);
}
.bg-success-mdk-50 {
  background-color: rgba(var(--color-success-mdk), 0.5);
}
.bg-success-mdk-75 {
  background-color: rgba(var(--color-success-mdk), 0.75);
}
.bg-success-mdk-90 {
  background-color: rgba(var(--color-success-mdk), 0.9);
}
.bg-success-dark {
  background-color: rgba(var(--color-success-dark), 1);
}
.bg-success-dark-10 {
  background-color: rgba(var(--color-success-dark), 0.1);
}
.bg-success-dark-25 {
  background-color: rgba(var(--color-success-dark), 0.25);
}
.bg-success-dark-50 {
  background-color: rgba(var(--color-success-dark), 0.5);
}
.bg-success-dark-75 {
  background-color: rgba(var(--color-success-dark), 0.75);
}
.bg-success-dark-90 {
  background-color: rgba(var(--color-success-dark), 0.9);
}
.dark .bg-success-light-dark {
  background-color: rgba(var(--color-success-dark), 1);
}
.dark .bg-success-light-dark-90 {
  background-color: rgba(var(--color-success-dark), 0.9);
}
.dark .bg-success-light-dark-75 {
  background-color: rgba(var(--color-success-dark), 0.75);
}
.dark .bg-success-light-dark-50 {
  background-color: rgba(var(--color-success-dark), 0.5);
}
.dark .bg-success-light-dark-10 {
  background-color: rgba(var(--color-success-dark), 0.1);
}
.bg-success-mlt-mdk {
  background-color: rgba(var(--color-success-mlt), 1);
}
.bg-success-mlt-mdk-90 {
  background-color: rgba(var(--color-success-mlt), 0.9);
}
.bg-success-mlt-mdk-75 {
  background-color: rgba(var(--color-success-mlt), 0.75);
}
.bg-success-mlt-mdk-50 {
  background-color: rgba(var(--color-success-mlt), 0.5);
}
.bg-success-mlt-mdk-10 {
  background-color: rgba(var(--color-success-mlt), 0.1);
}
.dark .bg-success-mlt-mdk {
  background-color: rgba(var(--color-success-mdk), 1);
}
.dark .bg-success-mlt-mdk-90 {
  background-color: rgba(var(--color-success-mdk), 0.9);
}
.dark .bg-success-mlt-mdk-75 {
  background-color: rgba(var(--color-success-mdk), 0.75);
}
.dark .bg-success-mlt-mdk-50 {
  background-color: rgba(var(--color-success-mdk), 0.5);
}
.dark .bg-success-mlt-mdk-10 {
  background-color: rgba(var(--color-success-mdk), 0.1);
}
.bg-warning {
  background-color: rgba(var(--color-warning), 1);
}
.bg-warning-10 {
  background-color: rgba(var(--color-warning), 0.1);
}
.bg-warning-25 {
  background-color: rgba(var(--color-warning), 0.25);
}
.bg-warning-50 {
  background-color: rgba(var(--color-warning), 0.5);
}
.bg-warning-75 {
  background-color: rgba(var(--color-warning), 0.75);
}
.bg-warning-90 {
  background-color: rgba(var(--color-warning), 0.9);
}
.bg-warning-light {
  background-color: rgba(var(--color-warning-light), 1);
}
.bg-warning-light-10 {
  background-color: rgba(var(--color-warning-light), 0.1);
}
.bg-warning-light-25 {
  background-color: rgba(var(--color-warning-light), 0.25);
}
.bg-warning-light-50 {
  background-color: rgba(var(--color-warning-light), 0.5);
}
.bg-warning-light-75 {
  background-color: rgba(var(--color-warning-light), 0.75);
}
.bg-warning-light-90 {
  background-color: rgba(var(--color-warning-light), 0.9);
}
.bg-warning-mlt {
  background-color: rgba(var(--color-warning-mlt), 1);
}
.bg-warning-mlt-10 {
  background-color: rgba(var(--color-warning-mlt), 0.1);
}
.bg-warning-mlt-25 {
  background-color: rgba(var(--color-warning-mlt), 0.25);
}
.bg-warning-mlt-50 {
  background-color: rgba(var(--color-warning-mlt), 0.5);
}
.bg-warning-mlt-75 {
  background-color: rgba(var(--color-warning-mlt), 0.75);
}
.bg-warning-mlt-90 {
  background-color: rgba(var(--color-warning-mlt), 0.9);
}
.bg-warning-mdk {
  background-color: rgba(var(--color-warning-mdk), 1);
}
.bg-warning-mdk-10 {
  background-color: rgba(var(--color-warning-mdk), 0.1);
}
.bg-warning-mdk-25 {
  background-color: rgba(var(--color-warning-mdk), 0.25);
}
.bg-warning-mdk-50 {
  background-color: rgba(var(--color-warning-mdk), 0.5);
}
.bg-warning-mdk-75 {
  background-color: rgba(var(--color-warning-mdk), 0.75);
}
.bg-warning-mdk-90 {
  background-color: rgba(var(--color-warning-mdk), 0.9);
}
.bg-warning-dark {
  background-color: rgba(var(--color-warning-dark), 1);
}
.bg-warning-dark-10 {
  background-color: rgba(var(--color-warning-dark), 0.1);
}
.bg-warning-dark-25 {
  background-color: rgba(var(--color-warning-dark), 0.25);
}
.bg-warning-dark-50 {
  background-color: rgba(var(--color-warning-dark), 0.5);
}
.bg-warning-dark-75 {
  background-color: rgba(var(--color-warning-dark), 0.75);
}
.bg-warning-dark-90 {
  background-color: rgba(var(--color-warning-dark), 0.9);
}
.dark .bg-warning-light-dark {
  background-color: rgba(var(--color-warning-dark), 1);
}
.dark .bg-warning-light-dark-90 {
  background-color: rgba(var(--color-warning-dark), 0.9);
}
.dark .bg-warning-light-dark-75 {
  background-color: rgba(var(--color-warning-dark), 0.75);
}
.dark .bg-warning-light-dark-50 {
  background-color: rgba(var(--color-warning-dark), 0.5);
}
.dark .bg-warning-light-dark-10 {
  background-color: rgba(var(--color-warning-dark), 0.1);
}
.bg-warning-mlt-mdk {
  background-color: rgba(var(--color-warning-mlt), 1);
}
.bg-warning-mlt-mdk-90 {
  background-color: rgba(var(--color-warning-mlt), 0.9);
}
.bg-warning-mlt-mdk-75 {
  background-color: rgba(var(--color-warning-mlt), 0.75);
}
.bg-warning-mlt-mdk-50 {
  background-color: rgba(var(--color-warning-mlt), 0.5);
}
.bg-warning-mlt-mdk-10 {
  background-color: rgba(var(--color-warning-mlt), 0.1);
}
.dark .bg-warning-mlt-mdk {
  background-color: rgba(var(--color-warning-mdk), 1);
}
.dark .bg-warning-mlt-mdk-90 {
  background-color: rgba(var(--color-warning-mdk), 0.9);
}
.dark .bg-warning-mlt-mdk-75 {
  background-color: rgba(var(--color-warning-mdk), 0.75);
}
.dark .bg-warning-mlt-mdk-50 {
  background-color: rgba(var(--color-warning-mdk), 0.5);
}
.dark .bg-warning-mlt-mdk-10 {
  background-color: rgba(var(--color-warning-mdk), 0.1);
}
.bg-error {
  background-color: rgba(var(--color-error), 1);
}
.bg-error-10 {
  background-color: rgba(var(--color-error), 0.1);
}
.bg-error-25 {
  background-color: rgba(var(--color-error), 0.25);
}
.bg-error-50 {
  background-color: rgba(var(--color-error), 0.5);
}
.bg-error-75 {
  background-color: rgba(var(--color-error), 0.75);
}
.bg-error-90 {
  background-color: rgba(var(--color-error), 0.9);
}
.bg-error-light {
  background-color: rgba(var(--color-error-light), 1);
}
.bg-error-light-10 {
  background-color: rgba(var(--color-error-light), 0.1);
}
.bg-error-light-25 {
  background-color: rgba(var(--color-error-light), 0.25);
}
.bg-error-light-50 {
  background-color: rgba(var(--color-error-light), 0.5);
}
.bg-error-light-75 {
  background-color: rgba(var(--color-error-light), 0.75);
}
.bg-error-light-90 {
  background-color: rgba(var(--color-error-light), 0.9);
}
.bg-error-mlt {
  background-color: rgba(var(--color-error-mlt), 1);
}
.bg-error-mlt-10 {
  background-color: rgba(var(--color-error-mlt), 0.1);
}
.bg-error-mlt-25 {
  background-color: rgba(var(--color-error-mlt), 0.25);
}
.bg-error-mlt-50 {
  background-color: rgba(var(--color-error-mlt), 0.5);
}
.bg-error-mlt-75 {
  background-color: rgba(var(--color-error-mlt), 0.75);
}
.bg-error-mlt-90 {
  background-color: rgba(var(--color-error-mlt), 0.9);
}
.bg-error-mdk {
  background-color: rgba(var(--color-error-mdk), 1);
}
.bg-error-mdk-10 {
  background-color: rgba(var(--color-error-mdk), 0.1);
}
.bg-error-mdk-25 {
  background-color: rgba(var(--color-error-mdk), 0.25);
}
.bg-error-mdk-50 {
  background-color: rgba(var(--color-error-mdk), 0.5);
}
.bg-error-mdk-75 {
  background-color: rgba(var(--color-error-mdk), 0.75);
}
.bg-error-mdk-90 {
  background-color: rgba(var(--color-error-mdk), 0.9);
}
.bg-error-dark {
  background-color: rgba(var(--color-error-dark), 1);
}
.bg-error-dark-10 {
  background-color: rgba(var(--color-error-dark), 0.1);
}
.bg-error-dark-25 {
  background-color: rgba(var(--color-error-dark), 0.25);
}
.bg-error-dark-50 {
  background-color: rgba(var(--color-error-dark), 0.5);
}
.bg-error-dark-75 {
  background-color: rgba(var(--color-error-dark), 0.75);
}
.bg-error-dark-90 {
  background-color: rgba(var(--color-error-dark), 0.9);
}
.dark .bg-error-light-dark {
  background-color: rgba(var(--color-error-dark), 1);
}
.dark .bg-error-light-dark-90 {
  background-color: rgba(var(--color-error-dark), 0.9);
}
.dark .bg-error-light-dark-75 {
  background-color: rgba(var(--color-error-dark), 0.75);
}
.dark .bg-error-light-dark-50 {
  background-color: rgba(var(--color-error-dark), 0.5);
}
.dark .bg-error-light-dark-10 {
  background-color: rgba(var(--color-error-dark), 0.1);
}
.bg-error-mlt-mdk {
  background-color: rgba(var(--color-error-mlt), 1);
}
.bg-error-mlt-mdk-90 {
  background-color: rgba(var(--color-error-mlt), 0.9);
}
.bg-error-mlt-mdk-75 {
  background-color: rgba(var(--color-error-mlt), 0.75);
}
.bg-error-mlt-mdk-50 {
  background-color: rgba(var(--color-error-mlt), 0.5);
}
.bg-error-mlt-mdk-10 {
  background-color: rgba(var(--color-error-mlt), 0.1);
}
.dark .bg-error-mlt-mdk {
  background-color: rgba(var(--color-error-mdk), 1);
}
.dark .bg-error-mlt-mdk-90 {
  background-color: rgba(var(--color-error-mdk), 0.9);
}
.dark .bg-error-mlt-mdk-75 {
  background-color: rgba(var(--color-error-mdk), 0.75);
}
.dark .bg-error-mlt-mdk-50 {
  background-color: rgba(var(--color-error-mdk), 0.5);
}
.dark .bg-error-mlt-mdk-10 {
  background-color: rgba(var(--color-error-mdk), 0.1);
}
.bg-info {
  background-color: rgba(var(--color-info), 1);
}
.bg-info-10 {
  background-color: rgba(var(--color-info), 0.1);
}
.bg-info-25 {
  background-color: rgba(var(--color-info), 0.25);
}
.bg-info-50 {
  background-color: rgba(var(--color-info), 0.5);
}
.bg-info-75 {
  background-color: rgba(var(--color-info), 0.75);
}
.bg-info-90 {
  background-color: rgba(var(--color-info), 0.9);
}
.bg-info-light {
  background-color: rgba(var(--color-info-light), 1);
}
.bg-info-light-10 {
  background-color: rgba(var(--color-info-light), 0.1);
}
.bg-info-light-25 {
  background-color: rgba(var(--color-info-light), 0.25);
}
.bg-info-light-50 {
  background-color: rgba(var(--color-info-light), 0.5);
}
.bg-info-light-75 {
  background-color: rgba(var(--color-info-light), 0.75);
}
.bg-info-light-90 {
  background-color: rgba(var(--color-info-light), 0.9);
}
.bg-info-mlt {
  background-color: rgba(var(--color-info-mlt), 1);
}
.bg-info-mlt-10 {
  background-color: rgba(var(--color-info-mlt), 0.1);
}
.bg-info-mlt-25 {
  background-color: rgba(var(--color-info-mlt), 0.25);
}
.bg-info-mlt-50 {
  background-color: rgba(var(--color-info-mlt), 0.5);
}
.bg-info-mlt-75 {
  background-color: rgba(var(--color-info-mlt), 0.75);
}
.bg-info-mlt-90 {
  background-color: rgba(var(--color-info-mlt), 0.9);
}
.bg-info-mdk {
  background-color: rgba(var(--color-info-mdk), 1);
}
.bg-info-mdk-10 {
  background-color: rgba(var(--color-info-mdk), 0.1);
}
.bg-info-mdk-25 {
  background-color: rgba(var(--color-info-mdk), 0.25);
}
.bg-info-mdk-50 {
  background-color: rgba(var(--color-info-mdk), 0.5);
}
.bg-info-mdk-75 {
  background-color: rgba(var(--color-info-mdk), 0.75);
}
.bg-info-mdk-90 {
  background-color: rgba(var(--color-info-mdk), 0.9);
}
.bg-info-dark {
  background-color: rgba(var(--color-info-dark), 1);
}
.bg-info-dark-10 {
  background-color: rgba(var(--color-info-dark), 0.1);
}
.bg-info-dark-25 {
  background-color: rgba(var(--color-info-dark), 0.25);
}
.bg-info-dark-50 {
  background-color: rgba(var(--color-info-dark), 0.5);
}
.bg-info-dark-75 {
  background-color: rgba(var(--color-info-dark), 0.75);
}
.bg-info-dark-90 {
  background-color: rgba(var(--color-info-dark), 0.9);
}
.dark .bg-info-light-dark {
  background-color: rgba(var(--color-info-dark), 1);
}
.dark .bg-info-light-dark-90 {
  background-color: rgba(var(--color-info-dark), 0.9);
}
.dark .bg-info-light-dark-75 {
  background-color: rgba(var(--color-info-dark), 0.75);
}
.dark .bg-info-light-dark-50 {
  background-color: rgba(var(--color-info-dark), 0.5);
}
.dark .bg-info-light-dark-10 {
  background-color: rgba(var(--color-info-dark), 0.1);
}
.bg-info-mlt-mdk {
  background-color: rgba(var(--color-info-mlt), 1);
}
.bg-info-mlt-mdk-90 {
  background-color: rgba(var(--color-info-mlt), 0.9);
}
.bg-info-mlt-mdk-75 {
  background-color: rgba(var(--color-info-mlt), 0.75);
}
.bg-info-mlt-mdk-50 {
  background-color: rgba(var(--color-info-mlt), 0.5);
}
.bg-info-mlt-mdk-10 {
  background-color: rgba(var(--color-info-mlt), 0.1);
}
.dark .bg-info-mlt-mdk {
  background-color: rgba(var(--color-info-mdk), 1);
}
.dark .bg-info-mlt-mdk-90 {
  background-color: rgba(var(--color-info-mdk), 0.9);
}
.dark .bg-info-mlt-mdk-75 {
  background-color: rgba(var(--color-info-mdk), 0.75);
}
.dark .bg-info-mlt-mdk-50 {
  background-color: rgba(var(--color-info-mdk), 0.5);
}
.dark .bg-info-mlt-mdk-10 {
  background-color: rgba(var(--color-info-mdk), 0.1);
}
.bg-neutral {
  background-color: rgba(var(--color-neutral), 1);
}
.bg-neutral-10 {
  background-color: rgba(var(--color-neutral), 0.1);
}
.bg-neutral-25 {
  background-color: rgba(var(--color-neutral), 0.25);
}
.bg-neutral-50 {
  background-color: rgba(var(--color-neutral), 0.5);
}
.bg-neutral-75 {
  background-color: rgba(var(--color-neutral), 0.75);
}
.bg-neutral-90 {
  background-color: rgba(var(--color-neutral), 0.9);
}
.bg-neutral-light {
  background-color: rgba(var(--color-neutral-light), 1);
}
.bg-neutral-light-10 {
  background-color: rgba(var(--color-neutral-light), 0.1);
}
.bg-neutral-light-25 {
  background-color: rgba(var(--color-neutral-light), 0.25);
}
.bg-neutral-light-50 {
  background-color: rgba(var(--color-neutral-light), 0.5);
}
.bg-neutral-light-75 {
  background-color: rgba(var(--color-neutral-light), 0.75);
}
.bg-neutral-light-90 {
  background-color: rgba(var(--color-neutral-light), 0.9);
}
.bg-neutral-mlt {
  background-color: rgba(var(--color-neutral-mlt), 1);
}
.bg-neutral-mlt-10 {
  background-color: rgba(var(--color-neutral-mlt), 0.1);
}
.bg-neutral-mlt-25 {
  background-color: rgba(var(--color-neutral-mlt), 0.25);
}
.bg-neutral-mlt-50 {
  background-color: rgba(var(--color-neutral-mlt), 0.5);
}
.bg-neutral-mlt-75 {
  background-color: rgba(var(--color-neutral-mlt), 0.75);
}
.bg-neutral-mlt-90 {
  background-color: rgba(var(--color-neutral-mlt), 0.9);
}
.bg-neutral-mdk {
  background-color: rgba(var(--color-neutral-mdk), 1);
}
.bg-neutral-mdk-10 {
  background-color: rgba(var(--color-neutral-mdk), 0.1);
}
.bg-neutral-mdk-25 {
  background-color: rgba(var(--color-neutral-mdk), 0.25);
}
.bg-neutral-mdk-50 {
  background-color: rgba(var(--color-neutral-mdk), 0.5);
}
.bg-neutral-mdk-75 {
  background-color: rgba(var(--color-neutral-mdk), 0.75);
}
.bg-neutral-mdk-90 {
  background-color: rgba(var(--color-neutral-mdk), 0.9);
}
.bg-neutral-dark {
  background-color: rgba(var(--color-neutral-dark), 1);
}
.bg-neutral-dark-10 {
  background-color: rgba(var(--color-neutral-dark), 0.1);
}
.bg-neutral-dark-25 {
  background-color: rgba(var(--color-neutral-dark), 0.25);
}
.bg-neutral-dark-50 {
  background-color: rgba(var(--color-neutral-dark), 0.5);
}
.bg-neutral-dark-75 {
  background-color: rgba(var(--color-neutral-dark), 0.75);
}
.bg-neutral-dark-90 {
  background-color: rgba(var(--color-neutral-dark), 0.9);
}
.dark .bg-neutral-light-dark {
  background-color: rgba(var(--color-neutral-dark), 1);
}
.dark .bg-neutral-light-dark-90 {
  background-color: rgba(var(--color-neutral-dark), 0.9);
}
.dark .bg-neutral-light-dark-75 {
  background-color: rgba(var(--color-neutral-dark), 0.75);
}
.dark .bg-neutral-light-dark-50 {
  background-color: rgba(var(--color-neutral-dark), 0.5);
}
.dark .bg-neutral-light-dark-10 {
  background-color: rgba(var(--color-neutral-dark), 0.1);
}
.bg-neutral-mlt-mdk {
  background-color: rgba(var(--color-neutral-mlt), 1);
}
.bg-neutral-mlt-mdk-90 {
  background-color: rgba(var(--color-neutral-mlt), 0.9);
}
.bg-neutral-mlt-mdk-75 {
  background-color: rgba(var(--color-neutral-mlt), 0.75);
}
.bg-neutral-mlt-mdk-50 {
  background-color: rgba(var(--color-neutral-mlt), 0.5);
}
.bg-neutral-mlt-mdk-10 {
  background-color: rgba(var(--color-neutral-mlt), 0.1);
}
.dark .bg-neutral-mlt-mdk {
  background-color: rgba(var(--color-neutral-mdk), 1);
}
.dark .bg-neutral-mlt-mdk-90 {
  background-color: rgba(var(--color-neutral-mdk), 0.9);
}
.dark .bg-neutral-mlt-mdk-75 {
  background-color: rgba(var(--color-neutral-mdk), 0.75);
}
.dark .bg-neutral-mlt-mdk-50 {
  background-color: rgba(var(--color-neutral-mdk), 0.5);
}
.dark .bg-neutral-mlt-mdk-10 {
  background-color: rgba(var(--color-neutral-mdk), 0.1);
}
.bg-page {
  background-color: rgba(var(--color-page), 1);
}
.bg-page-10 {
  background-color: rgba(var(--color-page), 0.1);
}
.bg-page-25 {
  background-color: rgba(var(--color-page), 0.25);
}
.bg-page-50 {
  background-color: rgba(var(--color-page), 0.5);
}

.dark .bg-page {
  background-color: rgba(var(--color-page-contrast), 1);
}
.dark .bg-page-10 {
  background-color: rgba(var(--color-page-contrast), 0.1);
}
.dark .bg-page-25 {
  background-color: rgba(var(--color-page-contrast), 0.25);
}
.dark .bg-page-50 {
  background-color: rgba(var(--color-page-contrast), 0.5);
}

.bg-page-contrast {
  background-color: rgba(var(--color-page-contrast), 1);
}
.bg-page-contrast-10 {
  background-color: rgba(var(--color-page-contrast), 0.1);
}
.bg-page-contrast-25 {
  background-color: rgba(var(--color-page-contrast), 0.25);
}
.bg-page-contrast-50 {
  background-color: rgba(var(--color-page-contrast), 0.5);
}
.bg-page-contrast-75 {
  background-color: rgba(var(--color-page-contrast), 0.75);
}
.bg-page-contrast-90 {
  background-color: rgba(var(--color-page-contrast), 0.9);
}
.dark .bg-page-contrast {
  background-color: rgba(var(--color-page), 1);
}
.dark .bg-page-contrast-10 {
  background-color: rgba(var(--color-page), 0.1);
}
.dark .bg-page-contrast-25 {
  background-color: rgba(var(--color-page), 0.25);
}
.dark .bg-page-contrast-50 {
  background-color: rgba(var(--color-page), 0.5);
}
.dark .bg-page-contrast-75 {
  background-color: rgba(var(--color-page), 0.75);
}
.dark .bg-page-contrast-90 {
  background-color: rgba(var(--color-page), 0.9);
}
.bg-surface {
  background-color: rgba(var(--color-surface), 1);
}
.bg-surface-10 {
  background-color: rgba(var(--color-surface), 0.1);
}
.bg-surface-25 {
  background-color: rgba(var(--color-surface), 0.25);
}
.bg-surface-50 {
  background-color: rgba(var(--color-surface), 0.5);
}
.bg-surface-75 {
  background-color: rgba(var(--color-surface), 0.75);
}
.bg-surface-90 {
  background-color: rgba(var(--color-surface), 0.9);
}
.dark .bg-surface {
  background-color: rgba(var(--color-surface-contrast), 1);
}
.dark .bg-surface-10 {
  background-color: rgba(var(--color-surface-contrast), 0.1);
}
.dark .bg-surface-contrast-25 {
  background-color: rgba(var(--color-surface-contrast), 0.25);
}
.dark .bg-surface-contrast-50 {
  background-color: rgba(var(--color-surface-contrast), 0.5);
}
.dark .bg-surface-contrast-75 {
  background-color: rgba(var(--color-surface-contrast), 0.75);
}
.dark .bg-surface-contrast-90 {
  background-color: rgba(var(--color-surface-contrast), 0.9);
}
.dark .bg-surface-contrast {
  background-color: rgba(var(--color-surface), 1);
}
.bg-surface-raised {
  background-color: rgba(var(--color-surface-raised), 1);
}
.bg-surface-raised-10 {
  background-color: rgba(var(--color-surface-raised), 0.1);
}
.bg-surface-raised-25 {
  background-color: rgba(var(--color-surface-raised), 0.25);
}

.bg-surface-raised-75 {
  background-color: rgba(var(--color-surface-raised), 0.75);
}
.bg-surface-raised-90 {
  background-color: rgba(var(--color-surface-raised), 0.9);
}
.dark .bg-surface-raised-10 {
  background-color: rgba(var(--color-surface-raised-contrast), 0.1);
}
.dark .bg-surface-raised-25 {
  background-color: rgba(var(--color-surface-raised-contrast), 0.25);
}
.dark .bg-surface-raised-75 {
  background-color: rgba(var(--color-surface-raised-contrast), 0.75);
}
.dark .bg-surface-raised-90 {
  background-color: rgba(var(--color-surface-raised-contrast), 0.9);
}
.bg-surface-raised-contrast-10 {
  background-color: rgba(var(--color-surface-raised-contrast), 0.1);
}
.bg-surface-raised-contrast-25 {
  background-color: rgba(var(--color-surface-raised-contrast), 0.25);
}
.bg-surface-raised-contrast-50 {
  background-color: rgba(var(--color-surface-raised-contrast), 0.5);
}
.bg-surface-raised-contrast-75 {
  background-color: rgba(var(--color-surface-raised-contrast), 0.75);
}
.bg-surface-raised-contrast-90 {
  background-color: rgba(var(--color-surface-raised-contrast), 0.9);
}
.dark .bg-surface-raised-contrast-10 {
  background-color: rgba(var(--color-surface-raised), 0.1);
}
.dark .bg-surface-raised-contrast-25 {
  background-color: rgba(var(--color-surface-raised), 0.25);
}
.dark .bg-surface-raised-contrast-50 {
  background-color: rgba(var(--color-surface-raised), 0.5);
}
.dark .bg-surface-raised-contrast-75 {
  background-color: rgba(var(--color-surface-raised), 0.75);
}
.dark .bg-surface-raised-contrast-90 {
  background-color: rgba(var(--color-surface-raised), 0.9);
}
.border-primary {
  border-color: rgba(var(--color-primary), 1);
}
.border-primary-light {
  border-color: rgba(var(--color-primary-light), 1);
}
.border-primary-light-dark {
  border-color: rgba(var(--color-primary-light), 1);
}
.dark .border-primary-light-dark {
  border-color: rgba(var(--color-primary-dark), 1);
}
.border-primary-mlt {
  border-color: rgba(var(--color-primary-mlt), 1);
}
.border-primary-mlt-mdk {
  border-color: rgba(var(--color-primary-mlt), 1);
}
.dark .border-primary-mlt-mdk {
  border-color: rgba(var(--color-primary-mdk), 1);
}
.border-primary-mdk {
  border-color: rgba(var(--color-primary-mdk), 1);
}
.border-primary-dark {
  border-color: rgba(var(--color-primary-dark), 1);
}
.border-secondary {
  background-color: rgba(var(--color-secondary), 1);
}
.border-secondary-light {
  background-color: rgba(var(--color-secondary-light), 1);
}
.border-secondary-light-dark {
  background-color: rgba(var(--color-secondary-light), 1);
}
.dark .border-secondary-light-dark {
  background-color: rgba(var(--color-secondary-dark), 1);
}
.border-neutral-mlt {
  border-color: rgba(var(--color-neutral-mlt), 1);
}
.border-neutral-mlt-mdk {
  border-color: rgba(var(--color-neutral-mlt), 1);
}
.dark .border-neutral-mlt-mdk {
  border-color: rgba(var(--color-neutral-mdk), 1);
}
.border-secondary-mdk {
  background-color: rgba(var(--color-secondary-mdk), 1);
}
.border-secondary-dark {
  background-color: rgba(var(--color-secondary-dark), 1);
}
.border-tertiary {
  border-color: rgba(var(--color-tertiary), 1);
}
.border-tertiary-light {
  border-color: rgba(var(--color-tertiary-light), 1);
}
.border-tertiary-light-dark {
  border-color: rgba(var(--color-tertiary-light), 1);
}
.dark .border-tertiary-light-dark {
  border-color: rgba(var(--color-tertiary-dark), 1);
}
.border-tertiary-mlt {
  border-color: rgba(var(--color-tertiary-mlt), 1);
}
.border-tertiary-mlt-mdk {
  border-color: rgba(var(--color-tertiary-mlt), 1);
}
.dark .border-tertiary-mlt-mdk {
  border-color: rgba(var(--color-tertiary-mdk), 1);
}
.border-tertiary-mdk {
  border-color: rgba(var(--color-tertiary-mdk), 1);
}
.border-tertiary-dark {
  border-color: rgba(var(--color-tertiary-dark), 1);
}
.border-quat {
  border-color: rgba(var(--color-quat), 1);
}
.border-quat-light {
  border-color: rgba(var(--color-quat-light), 1);
}
.border-quat-light-dark {
  border-color: rgba(var(--color-quat-light), 1);
}
.dark .border-quat-light-dark {
  border-color: rgba(var(--color-quat-dark), 1);
}
.border-quat-mlt {
  border-color: rgba(var(--color-quat-mlt), 1);
}
.border-quat-mlt-mdk {
  border-color: rgba(var(--color-quat-mlt), 1);
}
.dark .border-quat-mlt-mdk {
  border-color: rgba(var(--color-quat-mdk), 1);
}
.border-quat-mdk {
  border-color: rgba(var(--color-quat-mdk), 1);
}
.border-quat-dark {
  border-color: rgba(var(--color-quat-dark), 1);
}
.border-quin {
  border-color: rgba(var(--color-quin), 1);
}
.border-quin-light {
  border-color: rgba(var(--color-quin-light), 1);
}
.border-quin-light-dark {
  border-color: rgba(var(--color-quin-light), 1);
}
.dark .border-quin-light-dark {
  border-color: rgba(var(--color-quin-dark), 1);
}
.border-quin-mlt {
  border-color: rgba(var(--color-quin-mlt), 1);
}
.border-quin-mlt-mdk {
  border-color: rgba(var(--color-quin-mlt), 1);
}
.dark .border-quin-mlt-mdk {
  border-color: rgba(var(--color-quin-mdk), 1);
}
.border-quin-mdk {
  border-color: rgba(var(--color-quin-mdk), 1);
}
.border-quin-dark {
  border-color: rgba(var(--color-quin-dark), 1);
}
.border-success {
  border-color: rgba(var(--color-success), 1);
}
.border-success-light {
  border-color: rgba(var(--color-success-light), 1);
}
.border-success-light-dark {
  border-color: rgba(var(--color-success-light), 1);
}
.dark .border-success-light-dark {
  border-color: rgba(var(--color-success-dark), 1);
}
.border-success-mlt {
  border-color: rgba(var(--color-success-mlt), 1);
}
.border-success-mlt-mdk {
  border-color: rgba(var(--color-success-mlt), 1);
}
.dark .border-success-mlt-mdk {
  border-color: rgba(var(--color-success-mdk), 1);
}
.border-success-mdk {
  border-color: rgba(var(--color-success-mdk), 1);
}
.border-success-dark {
  border-color: rgba(var(--color-success-dark), 1);
}
.border-warning {
  border-color: rgba(var(--color-warning), 1);
}
.border-warning-light {
  border-color: rgba(var(--color-warning-light), 1);
}
.border-warning-light-dark {
  border-color: rgba(var(--color-warning-light), 1);
}
.dark .border-warning-light-dark {
  border-color: rgba(var(--color-warning-dark), 1);
}
.border-warning-mlt {
  border-color: rgba(var(--color-warning-mlt), 1);
}
.border-warning-mlt-mdk {
  border-color: rgba(var(--color-warning-mlt), 1);
}
.dark .border-warning-mlt-mdk {
  border-color: rgba(var(--color-warning-mdk), 1);
}
.border-warning-mdk {
  border-color: rgba(var(--color-warning-mdk), 1);
}
.border-warning-dark {
  border-color: rgba(var(--color-warning-dark), 1);
}
.border-error {
  border-color: rgba(var(--color-error), 1);
}
.border-error-light {
  border-color: rgba(var(--color-error-light), 1);
}
.border-error-light-dark {
  border-color: rgba(var(--color-error-light), 1);
}
.dark .border-error-light-dark {
  border-color: rgba(var(--color-error-dark), 1);
}
.border-error-mlt {
  border-color: rgba(var(--color-error-mlt), 1);
}
.border-error-mlt-mdk {
  border-color: rgba(var(--color-error-mlt), 1);
}
.dark .border-error-mlt-mdk {
  border-color: rgba(var(--color-error-mdk), 1);
}
.border-error-mdk {
  border-color: rgba(var(--color-error-mdk), 1);
}
.border-error-dark {
  border-color: rgba(var(--color-error-dark), 1);
}
.border-neutral {
  border-color: rgba(var(--color-neutral), 1);
}
.border-neutral-light {
  border-color: rgba(var(--color-neutral-light), 1);
}
.border-neutral-light-dark {
  border-color: rgba(var(--color-neutral-light), 1);
}
.dark .border-neutral-light-dark {
  border-color: rgba(var(--color-neutral-dark), 1);
}
.border-neutral-mdk {
  border-color: rgba(var(--color-neutral-mdk), 1);
}
.border-neutral-dark {
  border-color: rgba(var(--color-neutral-dark), 1);
}
.border-page {
  border-color: rgba(var(--color-page), 1);
}
.dark .border-page {
  border-color: rgba(var(--color-page-contrast), 1);
}
.border-page-contrast {
  border-color: rgba(var(--color-page-contrast), 1);
}
.dark .border-page-contrast {
  border-color: rgba(var(--color-page), 1);
}
.border-surface {
  border-color: rgba(var(--color-surface), 1);
}
.dark .border-surface {
  border-color: rgba(var(--color-surface), 1);
}
.border-surface-contrast {
  border-color: rgba(var(--color-surface-contrast), 1);
}
.dark .border-surface-contrast {
  border-color: rgba(var(--color-surface), 1);
}
.border-surface-raised {
  border-color: rgba(var(--color-surface-raised), 1);
}
.dark .border-surface-raised {
  border-color: rgba(var(--color-surface-raised-contrast), 1);
}
.border-surface-raised-contrast {
  border-color: rgba(var(--color-surface-raised-contrast), 1);
}
.dark .border-surface-raised-contrast {
  border-color: rgba(var(--color-surface-raised), 1);
}
.text-primary {
  color: rgba(var(--color-primary));
}
.text-primary-light {
  color: var(--color-primary-light);
}
.text-primary-mlt {
  color: var(--color-primary-mlt);
}
.text-primary-mdk {
  color: var(--color-primary-mdk);
}
.text-primary-dark {
  color: var(--color-primary-dark);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-secondary-light {
  color: var(--color-secondary-light);
}
.text-secondary-mlt {
  color: var(--color-secondary-mlt);
}
.text-secondary-mdk {
  color: var(--color-secondary-mdk);
}
.text-secondary-dark {
  color: var(--color-secondary-dark);
}
.text-tertiary {
  color: var(--color-tertiary);
}
.text-tertiary-light {
  color: var(--color-tertiary-light);
}
.text-tertiary-mlt {
  color: var(--color-tertiary-mlt);
}
.text-tertiary-mdk {
  color: var(--color-tertiary-mdk);
}
.text-tertiary-dark {
  color: var(--color-tertiary-dark);
}
.text-quat {
  color: var(--color-quat);
}
.text-quat-light {
  color: var(--color-quat-light);
}
.text-quat-mlt {
  color: var(--color-quat-mlt);
}
.text-quat-mdk {
  color: var(--color-quat-mdk);
}
.text-quat-dark {
  color: var(--color-quat-dark);
}
.text-quin {
  color: var(--color-quin);
}
.text-quin-light {
  color: var(--color-quin-light);
}
.text-quin-mlt {
  color: var(--color-quin-mlt);
}
.text-quin-mdk {
  color: var(--color-quin-mdk);
}
.text-quin-dark {
  color: var(--color-quin-dark);
}
.text-success {
  color: var(--color-success);
}
.text-success-light {
  color: var(--color-success-light);
}
.text-success-mlt {
  color: var(--color-success-mlt);
}
.text-success-mdk {
  color: var(--color-success-mdk);
}
.text-success-dark {
  color: var(--color-success-dark);
}
.text-warning {
  color: var(--color-warning);
}
.text-warning-light {
  color: var(--color-warning-light);
}
.text-warning-mlt {
  color: var(--color-warning-mlt);
}
.text-warning-mdk {
  color: var(--color-warning-mdk);
}
.text-warning-dark {
  color: var(--color-warning-dark);
}
.text-error {
  color: var(--color-error);
}
.text-error-light {
  color: var(--color-error-light);
}
.text-error-mlt {
  color: var(--color-error-mlt);
}
.text-error-mdk {
  color: var(--color-error-mdk);
}
.text-error-dark {
  color: var(--color-error-dark);
}
.text-neutral {
  color: var(--color-neutral);
}
.text-neutral-light {
  color: var(--color-neutral-light);
}
.text-neutral-mlt {
  color: var(--color-neutral-mlt);
}
.text-neutral-mdk {
  color: var(--color-neutral-mdk);
}
.text-neutral-dark {
  color: var(--color-neutral-dark);
}
.text-page {
  color: var(--color-page);
}
.dark .text-page {
  color: var(--color-page-contrast);
}
.text-page-contrast {
  color: var(--color-page-contrast);
}
.dark .text-page-contrast {
  color: var(--color-page);
}
.text-surface {
  color: var(--color-surface);
}
.dark .text-surface {
  color: var(--color-surface-contrast);
}
.text-surface-contrast {
  color: var(--color-surface-contrast);
}
.dark .text-surface-contrast {
  color: var(--color-surface);
}
.text-surface-raised {
  color: var(--color-surface-raised);
}
.dark .text-surface-raised {
  color: var(--color-surface-raised-contrast);
}
.text-surface-raised-contrast {
  color: var(--color-surface-raised-contrast);
}
.dark .text-surface-raised-contrast {
  color: var(--color-surface-raised);
}
.neue-rounded {
  border-radius: var(--ui-rounded);
}
.button-roundness {
  border-radius: var(--ui-button-roundness);
}
.input-roundness {
  border-radius: var(--ui-input-roundness);
}
.app-shell {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
}
.site-header {
  display: flex;
  flex: none;
}
.site-header-options {
  z-index: 10;
}
.site-central-wrapper {
  display: flex;
  flex: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.site-sidebar-left {
  display: flex;
  flex: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.site-sidebar-left-options {
  width: auto;
}
.site-sitebar-right {
  display: flex;
  flex: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.site-sidebar-right-options {
  width: auto;
}
.page {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-x: hidden;
}
.page-main {
  display: flex;
  flex: none;
}
.page-header {
  display: flex;
  flex: none;
}
.page-footer {
  display: flex;
  flex: none;
}
.site-footer {
  display: flex;
  flex: none;
}
.app-rail {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-y: auto;
  height: 100%;
}
.app-rail-options {
  width: 5rem;
}
.app-rail-region-lead,
.app-rail-region-default,
.app-rail-region-tail {
  box-sizing: border-box;
}
.rail-tile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  cursor: pointer;
}
.rail-tile-wrapper-options {
  aspect-ratio: 1;
  text-align: center;
  font-size: var(--scale-00);
}
.rail-tile-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.rail-item {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.rail-item-options {
  padding: var(--el-p-sm);
}
.rail-label {
  padding-top: var(--el-p-sm);
}
.app-rail-inner.hidden-radio {
  overflow: hidden;
  width: 0px;
  height: 0px;
}
.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.accordion-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--el-p-base);
}
.header-control {
  padding: var(--el-p-base) var(--el-p-double);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: right var(--el-p-sm) center;
  background-size: var(--el-p-triple);
  transition: transform 0.5s ease-in-out;
}
.opened .header-control {
  transform: rotate(-90deg);
}
.accordion-section-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  padding: 0;
  transition: grid-template-rows 0.5s ease-in-out;
}
.opened .accordion-section-wrapper {
  grid-template-rows: 1fr;
  padding: var(--el-p-base);
}
.accordion-section {
  overflow: hidden;
}
.slide-toggle {
  display: flex;
  align-items: center;
  border-radius: var(--ui-input-roundness);
}
.track {
  cursor: pointer;
  display: flex;
  border-radius: 1000px;
}
.track-xl {
  width: var(--size-16);
  height: var(--size-8);
}
.track-large {
  width: var(--size-14);
  height: var(--size-7);
}
.track-medium {
  width: var(--size-12);
  height: var(--size-6);
}
.track-small {
  width: var(--size-10);
  height: var(--size-5);
}
.thumb {
  display: inline-block;
  border-radius: 1000px;
  width: 50%;
  height: 100%;
  transform: scale(0.8);
  transition: all 0.2s ease-in-out;
}
.on {
  transform: translateX(100%) scale(0.8);
}
