.accordion {
    display: flex;
    flex-direction: column;
    width: 100%
}
.accordion-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--el-p-base)
}
.header-control {
    padding: var(--el-p-base) var(--el-p-double);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: right var(--el-sm) center;
    background-size: var(--el-p-triple);
    transition: transform 0.5s ease-in-out
}
.opened .header-control {
    transform: rotate(-90deg)
}
.accordion-section-wrapper {
    display: grid;
    grid-template-rows: 0fr;
    padding: 0;
    transition: grid-template-rows 0.5s ease-in-out
}
.opened .accordion-section-wrapper {
    grid-template-rows: 1fr;
    padding: var(--el-p-base)
}
.accordion-section {
    overflow: hidden
}
.app-rail {
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-y: auto;
    height: 100%
}
.app-rail-options {
    width: 5rem
}
.app-rail-region-lead, .app-rail-region-default, .app-rail-region-tail {
    box-sizing: border-box
}
.rail-tile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    cursor: pointer
}
.rail-tile-wrapper-options {
    aspect-ratio: 1;
    text-align: center;
    font-size: var(--font-scale-sm)
}
.rail-tile-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%
}
.rail-item {
    height: 100%;
    display: flex;
    flex-direction: column
}
.rail-item-options {
    padding: var(--el-sm)
}
.rail-label {
    padding-top: var(--el-sm)
}
.app-rail-inner.hidden-radio {
    overflow: hidden;
    width: 0px;
    height: 0px
}
.app-shell {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    overflow: hidden
}
.site-header {
    display: flex;
    flex: none
}
.site-header-options {
    z-index: 10
}
.site-central-wrapper {
    display: flex;
    flex: auto;
    width: 100%;
    height: 100%;
    overflow: hidden
}
.site-sidebar-left {
    display: flex;
    flex: none;
    overflow-x: hidden;
    overflow-y: auto
}
.site-sidebar-left-options {
    width: auto
}
.site-sitebar-right {
    display: flex;
    flex: none;
    overflow-x: hidden;
    overflow-y: auto
}
.site-sidebar-right-options {
    width: auto
}
.page {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-x: hidden
}
.page-main {
    display: flex;
    flex: none
}
.page-header {
    display: flex;
    flex: none
}
.page-footer {
    display: flex;
    flex: none
}
.site-footer {
    display: flex;
    flex: none
}
.slide-toggle {
    display: flex;
    align-items: center;
    border-radius: var(--ui-input-roundness)
}
.track {
    cursor: pointer;
    display: flex;
    border-radius: 1000px
}
.track-xl {
    width: var(--spacing-16);
    height: var(--spacing-8)
}
.track-large {
    width: var(--spacing-14);
    height: var(--spacing-7)
}
.track-medium {
    width: var(--spacing-12);
    height: var(--spacing-6)
}
.track-small {
    width: var(--spacing-10);
    height: var(--spacing-5)
}
.thumb {
    display: inline-block;
    border-radius: 1000px;
    width: 50%;
    height: 100%;
    transform: scale(0.8);
    transition: all 0.2s ease-in-out
}
.on {
    transform: translateX(100%) scale(0.8)
}
.btn-sm {
    padding: var(--btn-sm);
    font-size: var(--btn-font-sm-size)
}
.btn-md {
    padding: var(--btn-p-base);
    font-size: var(--btn-font-size)
}
.btn-lg {
    padding: var(--btn-lg);
    font-size: var(--btn-font-lg-size)
}
.btn-chip {
    padding: var(--btn-chip);
    font-size: var(--btn-font-sm-size)
}
.btn-base {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    white-space: nowrap;
    border-radius: var(--ui-button-roundness);
    transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out
}
.btn-base:hover {
    transform: scale(var(--btn-hover-scale));
    filter: brightness(var(--btn-hover-filter))
}
.btn-base:active {
    transform: scale(var(--btn-active-scale));
    filter: brightness(var(--btn-active-filter))
}
.input-base {
    flex-shrink: 1;
    background-color: rgba(var(--color-surface));
    border-radius: var(--ui-input-roundness);
    padding: var(--el-p-base) var(--el-p-double)
}
.bg-surface .input-base {
    background-color: rgba(var(--color-neutral-mlt))
}
.select-base {
    flex-shrink: 1;
    background-color: rgba(var(--color-surface));
    --webkit-appearance: none;
    border-radius: var(--ui-input-roundness);
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path d='M7 10l5 5 5-5z'/></svg>");
    background-repeat: no-repeat;
    background-position: right .25rem center;
    background-size: 1.5rem;
    padding: var(--el-p-base) var(--el-p-double)
}
.bg-surface .select-base {
    background-color: rgba(var(--color-neutral-mlt))
}
.input-color-base[type='color'] {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: var(--ui-input-roundness);
    overflow: hidden;
    cursor: pointer;
    padding: 0;
    -webkit-appearance: none
}
.input-color-base[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
    border: none;
    border-radius: var(--ui-input-roundness)
}
.input-color-base[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: var(--ui-input-roundness);
    padding: 0
}
.input-color-base[type='color']::-moz-color-swatch {
    border: none;
    border-radius: var(--ui-input-roundness)
}
.input-checkbox-base, .input-radio-base {
    width: 1.25rem;
    height: 1.25rem;
    ring-width: 0;
    cursor: pointer;
    border-width: border-token
}
.input-radio-base {
    border-radius: var(--ui-input-roundness)
}
.bg-primary {
    background-color: rgb(var(--color-primary))
}
.bg-primary-light {
    background-color: rgb(var(--color-primary))
}
.bg-primary-mlt {
    background-color: rgb(var(--color-primary))
}
.bg-primary-mdk {
    background-color: rgb(var(--color-primary))
}
.bg-primary-dark {
    background-color: rgb(var(--color-primary))
}
.bg-secondary {
    background-color: rgb(var(--color-secondary))
}
.bg-secondary-light {
    background-color: rgb(var(--color-secondary))
}
.bg-secondary-mlt {
    background-color: rgb(var(--color-secondary))
}
.bg-secondary-mdk {
    background-color: rgb(var(--color-secondary))
}
.bg-secondary-dark {
    background-color: rgb(var(--color-secondary))
}
.bg-tertiary {
    background-color: rgb(var(--color-tertiary))
}
.bg-tertiary-light {
    background-color: rgb(var(--color-tertiary))
}
.bg-tertiary-mlt {
    background-color: rgb(var(--color-tertiary))
}
.bg-tertiary-mdk {
    background-color: rgb(var(--color-tertiary))
}
.bg-tertiary-dark {
    background-color: rgb(var(--color-tertiary))
}
.bg-quat {
    background-color: rgb(var(--color-quat))
}
.bg-quat-light {
    background-color: rgb(var(--color-quat))
}
.bg-quat-mlt {
    background-color: rgb(var(--color-quat))
}
.bg-quat-mdk {
    background-color: rgb(var(--color-quat))
}
.bg-quat-dark {
    background-color: rgb(var(--color-quat))
}
.bg-quin {
    background-color: rgb(var(--color-quin))
}
.bg-quin-light {
    background-color: rgb(var(--color-quin))
}
.bg-quin-mlt {
    background-color: rgb(var(--color-quin))
}
.bg-quin-mdk {
    background-color: rgb(var(--color-quin))
}
.bg-quin-dark {
    background-color: rgb(var(--color-quin))
}
.bg-info {
    background-color: rgb(var(--color-info))
}
.bg-info-light {
    background-color: rgb(var(--color-info))
}
.bg-info-mlt {
    background-color: rgb(var(--color-info))
}
.bg-info-mdk {
    background-color: rgb(var(--color-info))
}
.bg-info-dark {
    background-color: rgb(var(--color-info))
}
.bg-success {
    background-color: rgb(var(--color-success))
}
.bg-success-light {
    background-color: rgb(var(--color-success))
}
.bg-success-mlt {
    background-color: rgb(var(--color-success))
}
.bg-success-mdk {
    background-color: rgb(var(--color-success))
}
.bg-success-dark {
    background-color: rgb(var(--color-success))
}
.bg-warning {
    background-color: rgb(var(--color-warning))
}
.bg-warning-light {
    background-color: rgb(var(--color-warning))
}
.bg-warning-mlt {
    background-color: rgb(var(--color-warning))
}
.bg-warning-mdk {
    background-color: rgb(var(--color-warning))
}
.bg-warning-dark {
    background-color: rgb(var(--color-warning))
}
.bg-error {
    background-color: rgb(var(--color-error))
}
.bg-error-light {
    background-color: rgb(var(--color-error))
}
.bg-error-mlt {
    background-color: rgb(var(--color-error))
}
.bg-error-mdk {
    background-color: rgb(var(--color-error))
}
.bg-error-dark {
    background-color: rgb(var(--color-error))
}
.bg-neutral {
    background-color: rgb(var(--color-neutral))
}
.bg-neutral-light {
    background-color: rgb(var(--color-neutral))
}
.bg-neutral-mlt {
    background-color: rgb(var(--color-neutral))
}
.bg-neutral-mdk {
    background-color: rgb(var(--color-neutral))
}
.bg-neutral-dark {
    background-color: rgb(var(--color-neutral))
}
.bg-page {
    background-color: rgb(var(--color-page))
}
.bg-page-light {
    background-color: rgb(var(--color-page))
}
.bg-page-mlt {
    background-color: rgb(var(--color-page))
}
.bg-page-mdk {
    background-color: rgb(var(--color-page))
}
.bg-page-dark {
    background-color: rgb(var(--color-page))
}
.bg-page-contrast {
    background-color: rgb(var(--color-page-contrast))
}
.bg-page-contrast-light {
    background-color: rgb(var(--color-page-contrast))
}
.bg-page-contrast-mlt {
    background-color: rgb(var(--color-page-contrast))
}
.bg-page-contrast-mdk {
    background-color: rgb(var(--color-page-contrast))
}
.bg-page-contrast-dark {
    background-color: rgb(var(--color-page-contrast))
}
.bg-surface {
    background-color: rgb(var(--color-surface))
}
.bg-surface-light {
    background-color: rgb(var(--color-surface))
}
.bg-surface-mlt {
    background-color: rgb(var(--color-surface))
}
.bg-surface-mdk {
    background-color: rgb(var(--color-surface))
}
.bg-surface-dark {
    background-color: rgb(var(--color-surface))
}
.bg-surface-contrast {
    background-color: rgb(var(--color-surface-contrast))
}
.bg-surface-contrast-light {
    background-color: rgb(var(--color-surface-contrast))
}
.bg-surface-contrast-mlt {
    background-color: rgb(var(--color-surface-contrast))
}
.bg-surface-contrast-mdk {
    background-color: rgb(var(--color-surface-contrast))
}
.bg-surface-contrast-dark {
    background-color: rgb(var(--color-surface-contrast))
}
.bg-surface-raised {
    background-color: rgb(var(--color-surface-raised))
}
.bg-surface-raised-light {
    background-color: rgb(var(--color-surface-raised))
}
.bg-surface-raised-mlt {
    background-color: rgb(var(--color-surface-raised))
}
.bg-surface-raised-mdk {
    background-color: rgb(var(--color-surface-raised))
}
.bg-surface-raised-dark {
    background-color: rgb(var(--color-surface-raised))
}
.bg-surface-raised-contrast {
    background-color: rgb(var(--color-surface-raised-contrast))
}
.bg-surface-raised-contrast-light {
    background-color: rgb(var(--color-surface-raised-contrast))
}
.bg-surface-raised-contrast-mlt {
    background-color: rgb(var(--color-surface-raised-contrast))
}
.bg-surface-raised-contrast-mdk {
    background-color: rgb(var(--color-surface-raised-contrast))
}
.bg-surface-raised-contrast-dark {
    background-color: rgb(var(--color-surface-raised-contrast))
}
.variant-primary {
    background-color: rgb(var(--color-primary))
}
.variant-primary-light {
    background-color: rgb(var(--color-primary))
}
.dark .variant-primary-light {
    background-color: rgb(var(--color-primary-dark))
}
.variant-primary-mlt {
    background-color: rgb(var(--color-primary))
}
.dark .variant-primary-mlt {
    background-color: rgb(var(--color-primary-mdk))
}
.variant-primary-mdk {
    background-color: rgb(var(--color-primary))
}
.dark .variant-primary-mdk {
    background-color: rgb(var(--color-primary-mlt))
}
.variant-primary-dark {
    background-color: rgb(var(--color-primary))
}
.dark .variant-primary-dark {
    background-color: rgb(var(--color-primary-light))
}
.variant-secondary {
    background-color: rgb(var(--color-secondary))
}
.variant-secondary-light {
    background-color: rgb(var(--color-secondary))
}
.dark .variant-secondary-light {
    background-color: rgb(var(--color-secondary-dark))
}
.variant-secondary-mlt {
    background-color: rgb(var(--color-secondary))
}
.dark .variant-secondary-mlt {
    background-color: rgb(var(--color-secondary-mdk))
}
.variant-secondary-mdk {
    background-color: rgb(var(--color-secondary))
}
.dark .variant-secondary-mdk {
    background-color: rgb(var(--color-secondary-mlt))
}
.variant-secondary-dark {
    background-color: rgb(var(--color-secondary))
}
.dark .variant-secondary-dark {
    background-color: rgb(var(--color-secondary-light))
}
.variant-tertiary {
    background-color: rgb(var(--color-tertiary))
}
.variant-tertiary-light {
    background-color: rgb(var(--color-tertiary))
}
.dark .variant-tertiary-light {
    background-color: rgb(var(--color-tertiary-dark))
}
.variant-tertiary-mlt {
    background-color: rgb(var(--color-tertiary))
}
.dark .variant-tertiary-mlt {
    background-color: rgb(var(--color-tertiary-mdk))
}
.variant-tertiary-mdk {
    background-color: rgb(var(--color-tertiary))
}
.dark .variant-tertiary-mdk {
    background-color: rgb(var(--color-tertiary-mlt))
}
.variant-tertiary-dark {
    background-color: rgb(var(--color-tertiary))
}
.dark .variant-tertiary-dark {
    background-color: rgb(var(--color-tertiary-light))
}
.variant-quat {
    background-color: rgb(var(--color-quat))
}
.variant-quat-light {
    background-color: rgb(var(--color-quat))
}
.dark .variant-quat-light {
    background-color: rgb(var(--color-quat-dark))
}
.variant-quat-mlt {
    background-color: rgb(var(--color-quat))
}
.dark .variant-quat-mlt {
    background-color: rgb(var(--color-quat-mdk))
}
.variant-quat-mdk {
    background-color: rgb(var(--color-quat))
}
.dark .variant-quat-mdk {
    background-color: rgb(var(--color-quat-mlt))
}
.variant-quat-dark {
    background-color: rgb(var(--color-quat))
}
.dark .variant-quat-dark {
    background-color: rgb(var(--color-quat-light))
}
.variant-quin {
    background-color: rgb(var(--color-quin))
}
.variant-quin-light {
    background-color: rgb(var(--color-quin))
}
.dark .variant-quin-light {
    background-color: rgb(var(--color-quin-dark))
}
.variant-quin-mlt {
    background-color: rgb(var(--color-quin))
}
.dark .variant-quin-mlt {
    background-color: rgb(var(--color-quin-mdk))
}
.variant-quin-mdk {
    background-color: rgb(var(--color-quin))
}
.dark .variant-quin-mdk {
    background-color: rgb(var(--color-quin-mlt))
}
.variant-quin-dark {
    background-color: rgb(var(--color-quin))
}
.dark .variant-quin-dark {
    background-color: rgb(var(--color-quin-light))
}
.variant-info {
    background-color: rgb(var(--color-info))
}
.variant-info-light {
    background-color: rgb(var(--color-info))
}
.dark .variant-info-light {
    background-color: rgb(var(--color-info-dark))
}
.variant-info-mlt {
    background-color: rgb(var(--color-info))
}
.dark .variant-info-mlt {
    background-color: rgb(var(--color-info-mdk))
}
.variant-info-mdk {
    background-color: rgb(var(--color-info))
}
.dark .variant-info-mdk {
    background-color: rgb(var(--color-info-mlt))
}
.variant-info-dark {
    background-color: rgb(var(--color-info))
}
.dark .variant-info-dark {
    background-color: rgb(var(--color-info-light))
}
.variant-success {
    background-color: rgb(var(--color-success))
}
.variant-success-light {
    background-color: rgb(var(--color-success))
}
.dark .variant-success-light {
    background-color: rgb(var(--color-success-dark))
}
.variant-success-mlt {
    background-color: rgb(var(--color-success))
}
.dark .variant-success-mlt {
    background-color: rgb(var(--color-success-mdk))
}
.variant-success-mdk {
    background-color: rgb(var(--color-success))
}
.dark .variant-success-mdk {
    background-color: rgb(var(--color-success-mlt))
}
.variant-success-dark {
    background-color: rgb(var(--color-success))
}
.dark .variant-success-dark {
    background-color: rgb(var(--color-success-light))
}
.variant-warning {
    background-color: rgb(var(--color-warning))
}
.variant-warning-light {
    background-color: rgb(var(--color-warning))
}
.dark .variant-warning-light {
    background-color: rgb(var(--color-warning-dark))
}
.variant-warning-mlt {
    background-color: rgb(var(--color-warning))
}
.dark .variant-warning-mlt {
    background-color: rgb(var(--color-warning-mdk))
}
.variant-warning-mdk {
    background-color: rgb(var(--color-warning))
}
.dark .variant-warning-mdk {
    background-color: rgb(var(--color-warning-mlt))
}
.variant-warning-dark {
    background-color: rgb(var(--color-warning))
}
.dark .variant-warning-dark {
    background-color: rgb(var(--color-warning-light))
}
.variant-error {
    background-color: rgb(var(--color-error))
}
.variant-error-light {
    background-color: rgb(var(--color-error))
}
.dark .variant-error-light {
    background-color: rgb(var(--color-error-dark))
}
.variant-error-mlt {
    background-color: rgb(var(--color-error))
}
.dark .variant-error-mlt {
    background-color: rgb(var(--color-error-mdk))
}
.variant-error-mdk {
    background-color: rgb(var(--color-error))
}
.dark .variant-error-mdk {
    background-color: rgb(var(--color-error-mlt))
}
.variant-error-dark {
    background-color: rgb(var(--color-error))
}
.dark .variant-error-dark {
    background-color: rgb(var(--color-error-light))
}
.variant-neutral {
    background-color: rgb(var(--color-neutral))
}
.variant-neutral-light {
    background-color: rgb(var(--color-neutral))
}
.dark .variant-neutral-light {
    background-color: rgb(var(--color-neutral-dark))
}
.variant-neutral-mlt {
    background-color: rgb(var(--color-neutral))
}
.dark .variant-neutral-mlt {
    background-color: rgb(var(--color-neutral-mdk))
}
.variant-neutral-mdk {
    background-color: rgb(var(--color-neutral))
}
.dark .variant-neutral-mdk {
    background-color: rgb(var(--color-neutral-mlt))
}
.variant-neutral-dark {
    background-color: rgb(var(--color-neutral))
}
.dark .variant-neutral-dark {
    background-color: rgb(var(--color-neutral-light))
}
.variant-page {
    background-color: rgb(var(--color-page))
}
.variant-page-light {
    background-color: rgb(var(--color-page))
}
.dark .variant-page-light {
    background-color: rgb(var(--color-page-dark))
}
.variant-page-mlt {
    background-color: rgb(var(--color-page))
}
.dark .variant-page-mlt {
    background-color: rgb(var(--color-page-mdk))
}
.variant-page-mdk {
    background-color: rgb(var(--color-page))
}
.dark .variant-page-mdk {
    background-color: rgb(var(--color-page-mlt))
}
.variant-page-dark {
    background-color: rgb(var(--color-page))
}
.dark .variant-page-dark {
    background-color: rgb(var(--color-page-light))
}
.variant-page-contrast {
    background-color: rgb(var(--color-page-contrast))
}
.variant-page-contrast-light {
    background-color: rgb(var(--color-page-contrast))
}
.dark .variant-page-contrast-light {
    background-color: rgb(var(--color-page-contrast-dark))
}
.variant-page-contrast-mlt {
    background-color: rgb(var(--color-page-contrast))
}
.dark .variant-page-contrast-mlt {
    background-color: rgb(var(--color-page-contrast-mdk))
}
.variant-page-contrast-mdk {
    background-color: rgb(var(--color-page-contrast))
}
.dark .variant-page-contrast-mdk {
    background-color: rgb(var(--color-page-contrast-mlt))
}
.variant-page-contrast-dark {
    background-color: rgb(var(--color-page-contrast))
}
.dark .variant-page-contrast-dark {
    background-color: rgb(var(--color-page-contrast-light))
}
.variant-surface {
    background-color: rgb(var(--color-surface))
}
.variant-surface-light {
    background-color: rgb(var(--color-surface))
}
.dark .variant-surface-light {
    background-color: rgb(var(--color-surface-dark))
}
.variant-surface-mlt {
    background-color: rgb(var(--color-surface))
}
.dark .variant-surface-mlt {
    background-color: rgb(var(--color-surface-mdk))
}
.variant-surface-mdk {
    background-color: rgb(var(--color-surface))
}
.dark .variant-surface-mdk {
    background-color: rgb(var(--color-surface-mlt))
}
.variant-surface-dark {
    background-color: rgb(var(--color-surface))
}
.dark .variant-surface-dark {
    background-color: rgb(var(--color-surface-light))
}
.variant-surface-contrast {
    background-color: rgb(var(--color-surface-contrast))
}
.variant-surface-contrast-light {
    background-color: rgb(var(--color-surface-contrast))
}
.dark .variant-surface-contrast-light {
    background-color: rgb(var(--color-surface-contrast-dark))
}
.variant-surface-contrast-mlt {
    background-color: rgb(var(--color-surface-contrast))
}
.dark .variant-surface-contrast-mlt {
    background-color: rgb(var(--color-surface-contrast-mdk))
}
.variant-surface-contrast-mdk {
    background-color: rgb(var(--color-surface-contrast))
}
.dark .variant-surface-contrast-mdk {
    background-color: rgb(var(--color-surface-contrast-mlt))
}
.variant-surface-contrast-dark {
    background-color: rgb(var(--color-surface-contrast))
}
.dark .variant-surface-contrast-dark {
    background-color: rgb(var(--color-surface-contrast-light))
}
.variant-surface-raised {
    background-color: rgb(var(--color-surface-raised))
}
.variant-surface-raised-light {
    background-color: rgb(var(--color-surface-raised))
}
.dark .variant-surface-raised-light {
    background-color: rgb(var(--color-surface-raised-dark))
}
.variant-surface-raised-mlt {
    background-color: rgb(var(--color-surface-raised))
}
.dark .variant-surface-raised-mlt {
    background-color: rgb(var(--color-surface-raised-mdk))
}
.variant-surface-raised-mdk {
    background-color: rgb(var(--color-surface-raised))
}
.dark .variant-surface-raised-mdk {
    background-color: rgb(var(--color-surface-raised-mlt))
}
.variant-surface-raised-dark {
    background-color: rgb(var(--color-surface-raised))
}
.dark .variant-surface-raised-dark {
    background-color: rgb(var(--color-surface-raised-light))
}
.variant-surface-raised-contrast {
    background-color: rgb(var(--color-surface-raised-contrast))
}
.variant-surface-raised-contrast-light {
    background-color: rgb(var(--color-surface-raised-contrast))
}
.dark .variant-surface-raised-contrast-light {
    background-color: rgb(var(--color-surface-raised-contrast-dark))
}
.variant-surface-raised-contrast-mlt {
    background-color: rgb(var(--color-surface-raised-contrast))
}
.dark .variant-surface-raised-contrast-mlt {
    background-color: rgb(var(--color-surface-raised-contrast-mdk))
}
.variant-surface-raised-contrast-mdk {
    background-color: rgb(var(--color-surface-raised-contrast))
}
.dark .variant-surface-raised-contrast-mdk {
    background-color: rgb(var(--color-surface-raised-contrast-mlt))
}
.variant-surface-raised-contrast-dark {
    background-color: rgb(var(--color-surface-raised-contrast))
}
.dark .variant-surface-raised-contrast-dark {
    background-color: rgb(var(--color-surface-raised-contrast-light))
}