@tailwind base; 
 @tailwind components; 
 @tailwind utilities; 
 @layer base {
:root {  --color-primary: 176 248 158;
 --color-primary-light: 255 255 255;
 --color-primary-mlt: 254 255 233;
 --color-primary-mdk: 102 172 88;
 --color-primary-dark: 27 101 21;
 --color-secondary: 158 248 200;
 --color-secondary-light: 255 255 255;
 --color-secondary-mlt: 236 255 255;
 --color-secondary-mdk: 83 172 128;
 --color-secondary-dark: 0 101 62;
 --color-tertiary: 158 236 248;
 --color-tertiary-light: 255 255 255;
 --color-tertiary-mlt: 236 255 255;
 --color-tertiary-mdk: 82 161 173;
 --color-tertiary-dark: 0 92 103;
 --color-neutral: 126 130 125;
 --color-neutral-light: 223 227 222;
 --color-neutral-mlt: 183 187 182;
 --color-neutral-mdk: 73 77 72;
 --color-neutral-dark: 41 45 41;
 --color-success: 72 238 17;
 --color-success-light: 251 255 194;
 --color-success-mlt: 166 255 114;
 --color-success-mdk: 0 161 0;
 --color-success-dark: 0 88 0;
 --color-error: 238 17 17;
 --color-error-light: 255 199 155;
 --color-error-mlt: 255 118 85;
 --color-error-mdk: 150 0 0;
 --color-error-dark: 80 0 0;
 --color-page: 254 255 253;
 --color-page-light: 255 255 255;
 --color-page-mlt: 255 255 255;
 --color-page-mdk: 178 179 177;
 --color-page-dark: 108 109 107;
 --color-page-contrast: 19 23 18;
 --color-page-contrast-light: 144 149 143;
 --color-page-contrast-mlt: 77 82 76;
 --color-page-contrast-mdk: 0 0 0;
 --color-page-contrast-dark: 0 0 0;
 --color-surface: 243 248 242;
 --color-surface-light: 255 255 255;
 --color-surface-mlt: 255 255 255;
 --color-surface-mdk: 168 173 167;
 --color-surface-dark: 99 103 98;
 --color-surface-contrast: 27 30 26;
 --color-surface-contrast-light: 155 158 153;
 --color-surface-contrast-mlt: 87 90 85;
 --color-surface-contrast-mdk: 0 0 0;
 --color-surface-contrast-dark: 0 0 0;
 --color-surface-raised: 228 232 227;
 --color-surface-raised-light: 255 255 255;
 --color-surface-raised-mlt: 255 255 255;
 --color-surface-raised-mdk: 154 158 153;
 --color-surface-raised-dark: 86 89 85;
 --color-surface-raised-contrast: 38 41 37;
 --color-surface-raised-contrast-light: 169 173 168;
 --color-surface-raised-contrast-mlt: 100 103 98;
 --color-surface-raised-contrast-mdk: 0 0 0;
 --color-surface-raised-contrast-dark: 0 0 0;

 --btn-sm: 0.4rem 1.2000000000000002rem;
 --btn-p-base: 0.5rem 1.5rem;
 --btn-chip: 0.25rem 0.75rem;
 --btn-lg: 0.6rem 1.7999999999999998rem;
 --btn-hover-scale: 0.98;
 --btn-active-scale: 1.05;
 --btn-hover-filter: 95%;
 --btn-active-filter: 102%;
 --btn-font-sm-size: var(--font-scale-sm);
 --btn-font-size: var(--font-scale-base);
 --btn-font-lg-size: var(--font-scale-lg);

 --ui-rounded: var(--border-radius-md);
 --ui-button-roundness: var(--border-radius-full);
 --ui-input-roundness: var(--border-radius-full);

 --el-sm: 0.25rem;
 --el-p-base: 0.5rem;
 --el-p-double: 1rem;
 --el-p-triple: 1.5rem;
  --spacing-0: 0px;
 --spacing-1: 0.25rem;
 --spacing-2: 0.5rem;
 --spacing-3: 0.75rem;
 --spacing-4: 1rem;
 --spacing-5: 1.25rem;
 --spacing-6: 1.5rem;
 --spacing-7: 1.75rem;
 --spacing-8: 2rem;
 --spacing-9: 2.25rem;
 --spacing-10: 2.5rem;
 --spacing-11: 2.75rem;
 --spacing-12: 3rem;
 --spacing-14: 3.5rem;
 --spacing-16: 4rem;
 --spacing-20: 5rem;
 --spacing-24: 6rem;
 --spacing-28: 7rem;
 --spacing-32: 8rem;
 --spacing-36: 9rem;
 --spacing-40: 10rem;
 --spacing-44: 11rem;
 --spacing-48: 12rem;
 --spacing-52: 13rem;
 --spacing-56: 14rem;
 --spacing-60: 15rem;
 --spacing-64: 16rem;
 --spacing-72: 18rem;
 --spacing-80: 20rem;
 --spacing-96: 24rem;
 --spacing-px: 1px;
 --spacing-0pt5: 0.125rem;
 --spacing-1pt5: 0.375rem;
 --spacing-2pt5: 0.625rem;
 --spacing-3pt5: 0.875rem;

 --border-radius-none: 0px;
 --border-radius-sm: 0.125rem;
 --border-radius-DEFAULT: 0.25rem;
 --border-radius-md: 0.375rem;
 --border-radius-lg: 0.5rem;
 --border-radius-xl: 0.75rem;
 --border-radius-2xl: 1rem;
 --border-radius-3xl: 1.5rem;
 --border-radius-full: 9999px;
 }
}