@tailwind base; 
 @tailwind components; 
 @tailwind utilities; 
 @layer base {
:root {  --color-primary: 44 246 202;
 --color-primary-light: 236 255 255;
 --color-primary-mlt: 149 255 255;
 --color-primary-mdk: 0 169 130;
 --color-primary-dark: 0 97 64;
 --color-secondary: 44 155 246;
 --color-secondary-light: 230 255 255;
 --color-secondary-mlt: 145 229 255;
 --color-secondary-mdk: 0 88 170;
 --color-secondary-dark: 0 31 99;
 --color-tertiary: 67 44 246;
 --color-tertiary-light: 251 189 255;
 --color-tertiary-mlt: 164 115 255;
 --color-tertiary-mdk: 0 0 168;
 --color-tertiary-dark: 0 0 97;
 --color-neutral: 125 130 129;
 --color-neutral-light: 222 227 226;
 --color-neutral-mlt: 182 187 186;
 --color-neutral-mdk: 72 77 76;
 --color-neutral-dark: 41 45 44;
 --color-info: 204 204 204;
 --color-info-light: 255 255 255;
 --color-info-mlt: 255 255 255;
 --color-info-mdk: 132 132 132;
 --color-info-dark: 66 66 66;
 --color-success: 69 245 10;
 --color-success-light: 252 255 194;
 --color-success-mlt: 165 255 114;
 --color-success-mdk: 0 167 0;
 --color-success-dark: 0 94 0;
 --color-error: 245 10 10;
 --color-error-light: 255 200 151;
 --color-error-mlt: 255 118 81;
 --color-error-mdk: 156 0 0;
 --color-error-dark: 84 0 0;
 --color-warning: 204 204 204;
 --color-warning-light: 255 255 255;
 --color-warning-mlt: 255 255 255;
 --color-warning-mdk: 132 132 132;
 --color-warning-dark: 66 66 66;
 --color-page: 253 255 255;
 --color-page-light: 255 255 255;
 --color-page-mlt: 255 255 255;
 --color-page-mdk: 177 179 179;
 --color-page-dark: 107 109 109;
 --color-ptpage-contrast: 18 23 22;
 --color-page-contrast-light: 143 149 148;
 --color-page-contrast-mlt: 76 82 81;
 --color-page-contrast-mdk: 0 0 0;
 --color-page-contrast-dark: 0 0 0;
 --color-surface: 242 248 247;
 --color-surface-light: 255 255 255;
 --color-surface-mlt: 255 255 255;
 --color-surface-mdk: 167 173 172;
 --color-surface-dark: 98 103 102;
 --color-surface-contrast: 26 30 29;
 --color-surface-contrast-light: 153 158 157;
 --color-surface-contrast-mlt: 85 90 89;
 --color-surface-contrast-mdk: 0 0 0;
 --color-surface-contrast-dark: 0 0 0;
 --color-surface-raised: 227 232 231;
 --color-surface-raised-light: 255 255 255;
 --color-surface-raised-mlt: 255 255 255;
 --color-surface-raised-mdk: 153 158 157;
 --color-surface-raised-dark: 85 89 89;
 --color-surface-raised-contrast: 37 41 40;
 --color-surface-raised-contrast-light: 168 173 171;
 --color-surface-raised-contrast-mlt: 98 103 102;
 --color-surface-raised-contrast-mdk: 0 0 0;
 --color-surface-raised-contrast-dark: 0 0 0;

 --btn-sm: 0.4rem 1.2000000000000002rem;
 --btn-p-base: 0.5rem 1.5rem;
 --btn-chip: 0.25rem 0.75rem;
 --btn-lg: 0.6rem 1.7999999999999998rem;
 --btn-hover-scale: 0.98;
 --btn-active-scale: 1.05;
 --btn-hover-filter: 95%;
 --btn-active-filter: 102%;
 --btn-font-sm-size: var(--font-scale-sm);
 --btn-font-size: var(--font-scale-base);
 --btn-font-lg-size: var(--font-scale-lg);

 --ui-rounded: var(--border-radius-md);
 --ui-button-roundness: var(--border-radius-full);
 --ui-input-roundness: var(--border-radius-full);

 --el-sm: 0.25rem;
 --el-p-base: 0.5rem;
 --el-p-double: 1rem;
 --el-p-triple: 1.5rem;
  --spacing-0: 0px;
 --spacing-1: 0.25rem;
 --spacing-2: 0.5rem;
 --spacing-3: 0.75rem;
 --spacing-4: 1rem;
 --spacing-5: 1.25rem;
 --spacing-6: 1.5rem;
 --spacing-7: 1.75rem;
 --spacing-8: 2rem;
 --spacing-9: 2.25rem;
 --spacing-10: 2.5rem;
 --spacing-11: 2.75rem;
 --spacing-12: 3rem;
 --spacing-14: 3.5rem;
 --spacing-16: 4rem;
 --spacing-20: 5rem;
 --spacing-24: 6rem;
 --spacing-28: 7rem;
 --spacing-32: 8rem;
 --spacing-36: 9rem;
 --spacing-40: 10rem;
 --spacing-44: 11rem;
 --spacing-48: 12rem;
 --spacing-52: 13rem;
 --spacing-56: 14rem;
 --spacing-60: 15rem;
 --spacing-64: 16rem;
 --spacing-72: 18rem;
 --spacing-80: 20rem;
 --spacing-96: 24rem;
 --spacing-px: 1px;
 --spacing-0pt5: 0.125rem;
 --spacing-1pt5: 0.375rem;
 --spacing-2pt5: 0.625rem;
 --spacing-3pt5: 0.875rem;

 --border-radius-none: 0px;
 --border-radius-sm: 0.125rem;
 --border-radius-DEFAULT: 0.25rem;
 --border-radius-md: 0.375rem;
 --border-radius-lg: 0.5rem;
 --border-radius-xl: 0.75rem;
 --border-radius-2xl: 1rem;
 --border-radius-3xl: 1.5rem;
 --border-radius-full: 9999px;
 }
}