@tailwind base; 
 @tailwind components; 
 @tailwind utilities; 
 @layer base {
:root { --color-primary: 3 160 223;
--color-primary-light: 213 255 255;
--color-primary-mlt: 128 234 255;
--color-primary-mdk: 0 92 149;
--color-primary-dark: 0 32 80;
--color-secondary: 3 13 223;
--color-secondary-light: 224 163 255;
--color-secondary-mlt: 136 90 255;
--color-secondary-mdk: 0 0 147;
--color-secondary-dark: 0 0 79;
--color-tertiary: 139 3 223;
--color-tertiary-light: 255 181 255;
--color-tertiary-mlt: 221 103 255;
--color-tertiary-mdk: 53 0 147;
--color-tertiary-dark: 5 0 79;
--color-neutral: 204 204 204;
--color-neutral-light: 255 255 255;
--color-neutral-mlt: 255 255 255;
--color-neutral-mdk: 146 146 146;
--color-neutral-dark: 109 109 109;
--color-info: 204 204 204;
--color-info-light: 255 255 255;
--color-info-mlt: 255 255 255;
--color-info-mdk: 132 132 132;
--color-info-dark: 66 66 66;
--color-success: 65 252 3;
--color-success-light: 252 255 195;
--color-success-mlt: 165 255 114;
--color-success-mdk: 0 174 0;
--color-success-dark: 0 100 0;
--color-error: 252 3 3;
--color-error-light: 255 200 149;
--color-error-mlt: 255 119 78;
--color-error-mdk: 163 0 0;
--color-error-dark: 88 0 0;
--color-warning: 204 204 204;
--color-warning-light: 255 255 255;
--color-warning-mlt: 255 255 255;
--color-warning-mdk: 132 132 132;
--color-warning-dark: 66 66 66;
--color-info: 204 204 204;
--color-info-light: 255 255 255;
--color-info-mlt: 255 255 255;
--color-info-mdk: 132 132 132;
--color-info-dark: 66 66 66;
--color-page: 253 255 255;
--color-page-light: 255 255 255;
--color-page-mlt: 255 255 255;
--color-page-mdk: 177 179 179;
--color-page-dark: 107 109 109;
--color-page-contrast: 18 22 23;
--color-page-contrast-light: 143 148 149;
--color-page-contrast-mlt: 76 81 82;
--color-page-contrast-mdk: 0 0 0;
--color-page-contrast-dark: 0 0 0;
--color-surface: 242 247 248;
--color-surface-light: 255 255 255;
--color-surface-mlt: 255 255 255;
--color-surface-mdk: 167 172 173;
--color-surface-dark: 98 102 103;
--color-surface-contrast: 26 29 30;
--color-surface-contrast-light: 153 157 158;
--color-surface-contrast-mlt: 85 89 90;
--color-surface-contrast-mdk: 0 0 0;
--color-surface-contrast-dark: 0 0 0;
--color-surface-raised: 227 231 232;
--color-surface-raised-light: 255 255 255;
--color-surface-raised-mlt: 255 255 255;
--color-surface-raised-mdk: 153 157 158;
--color-surface-raised-dark: 85 89 89;
--color-surface-raised-contrast: 37 40 41;
--color-surface-raised-contrast-light: 168 171 173;
--color-surface-raised-contrast-mlt: 98 102 103;
--color-surface-raised-contrast-mdk: 0 0 0;
--color-surface-raised-contrast-dark: 0 0 0;
--btn-p-sm: 0.375rem 1.3125rem;
--btn-p-base: .5rem 1.75rem;
--btn-p-chip: 0.25rem 0.875rem;
--btn-p-lg: 0.625rem 2.1875rem;
--btn-hover-scale: 1.1;
--btn-active-scale: 0.9;
--btn-hover-filter: 1.05%;
--btn-active-filter: 0.95%;
--btn-font-sm-size: var(--font-sm);
--btn-font-base-size: var(--font-md);
--btn-font-lg-size: var(--font-lg);
--ui-rounded: var(--ui-roundness-md);
--ui-btn-roundness: var(--ui-roundness-full);
--ui-input-roundness: var(--ui-roundness-full);  --spacing-0: 0px;
 --spacing-1: 0.25rem;
 --spacing-2: 0.5rem;
 --spacing-3: 0.75rem;
 --spacing-4: 1rem;
 --spacing-5: 1.25rem;
 --spacing-6: 1.5rem;
 --spacing-7: 1.75rem;
 --spacing-8: 2rem;
 --spacing-9: 2.25rem;
 --spacing-10: 2.5rem;
 --spacing-11: 2.75rem;
 --spacing-12: 3rem;
 --spacing-14: 3.5rem;
 --spacing-16: 4rem;
 --spacing-20: 5rem;
 --spacing-24: 6rem;
 --spacing-28: 7rem;
 --spacing-32: 8rem;
 --spacing-36: 9rem;
 --spacing-40: 10rem;
 --spacing-44: 11rem;
 --spacing-48: 12rem;
 --spacing-52: 13rem;
 --spacing-56: 14rem;
 --spacing-60: 15rem;
 --spacing-64: 16rem;
 --spacing-72: 18rem;
 --spacing-80: 20rem;
 --spacing-96: 24rem;
 --spacing-px: 1px;
 --spacing-0pt5: 0.125rem;
 --spacing-1pt5: 0.375rem;
 --spacing-2pt5: 0.625rem;
 --spacing-3pt5: 0.875rem;

 --ui-roundness-none: 0px;
 --ui-roundness-sm: 0.125rem;
 --ui-roundness-DEFAULT: 0.25rem;
 --ui-roundness-md: 0.375rem;
 --ui-roundness-lg: 0.5rem;
 --ui-roundness-xl: 0.75rem;
 --ui-roundness-2xl: 1rem;
 --ui-roundness-3xl: 1.5rem;
 --ui-roundness-full: 9999px;
 }
}