@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --ui-roundness-md: 0.375rem;
    --ui-roundness-full: 9999px;
    --spacing-5: 1.25rem;
    --spacing-6: 1.5rem;
    --spacing-7: 1.75rem;
    --spacing-8: 2rem;
    --spacing-10: 2.5rem;
    --spacing-12: 3rem;
    --spacing-14: 3.5rem;
    --spacing-16: 4rem;
    --font-sm: 1rem;
    --color-primary: 239 73 83;
    --color-primary-light: 255 230 225;
    --color-primary-mlt: 255 151 151;
    --color-primary-mdk: 154 0 24;
    --color-primary-dark: 77 0 0;
    --color-secondary: 239 174 73;
    --color-secondary-light: 255 255 221;
    --color-secondary-mlt: 255 249 145;
    --color-secondary-mdk: 158 104 0;
    --color-secondary-dark: 85 41 0;
    --color-tertiary: 194 239 73;
    --color-tertiary-light: 255 255 229;
    --color-tertiary-mlt: 255 255 150;
    --color-tertiary-mdk: 116 164 0;
    --color-tertiary-dark: 43 94 0;
    --color-success: 74 234 21;
    --color-success-light: 251 255 194;
    --color-success-mlt: 166 255 115;
    --color-success-mdk: 0 157 0;
    --color-success-dark: 0 85 0;
    --color-error: 234 21 21;
    --color-error-light: 255 199 158;
    --color-error-mlt: 255 119 87;
    --color-error-mdk: 146 0 0;
    --color-error-dark: 78 0 0;
    --color-neutral: 134 121 122;
    --color-neutral-light: 232 217 218;
    --color-neutral-mlt: 192 178 179;
    --color-neutral-mdk: 81 69 70;
    --color-neutral-dark: 48 37 38;
    --btn-p-sm: 0.375rem 1.3125rem;
    --btn-p-base: 0.5rem 1.75rem;
    --btn-p-chip: 0.25rem 0.875rem;
    --btn-p-lg: 0.625rem 2.1875rem;
    --btn-hover-scale: 1.1;
    --btn-active-scale: 0.9;
    --btn-hover-filter: 1.05;
    --btn-active-filter: 0.95;
    --btn-font-sm-size: var(--font-sm);
    --btn-font-base-size: var(--font-md);
    --btn-font-lg-size: var(--font-lg);
    --ui-roundness: var(--ui-roundness-md);
    --ui-btn-roundness: var(--ui-roundness-full);
    --ui-input-roundness: var(--ui-roundness-full);
    --el-sm: 0.25rem;
    --el-p-base: 0.5rem;
    --el-p-double: 1rem;
    --el-p-triple: 1.5rem;
  }
}
.f0l__accordion-wrapper .f0l_accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.f0l__accordion-wrapper .f0l_accordion-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--el-p-base);
}
.f0l__accordion-wrapper .f0l_header-control {
  padding: var(--el-p-base) var(--el-p-double);
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-position: right var(--el-sm) center;
  background-size: var(--el-p-triple);
  transition: transform 0.5s ease-in-out;
}
.f0l__accordion-wrapper .opened .f0l_header-control {
  transform: rotate(-90deg);
}
.f0l__accordion-wrapper .f0l_accordion-section-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  padding: 0;
  transition: grid-template-rows 0.5s ease-in-out;
}
.f0l__accordion-wrapper .opened .f0l_accordion-section-wrapper {
  grid-template-rows: 1fr;
  padding: var(--el-p-base);
}
.f0l__accordion-wrapper .f0l_accordion-section {
  overflow: hidden;
}
.f0l__app-rail {
  display: grid;
  grid-template-rows: auto 1fr auto;
  overflow-y: auto;
  height: 100%;
}
.f0l__app-rail.f0l_app-rail-opts {
  width: 5rem;
}
.f0l__app-rail .f0l_app-rail-region-lead,
.f0l__app-rail .f0l_app-rail-region-default,
.f0l__app-rail .f0l_app-rail-region-tail {
  box-sizing: border-box;
}
.f0l__app-rail .f0l_rail-tile-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  cursor: pointer;
}
.f0l__app-rail .f0l_rail-tile-wrapper-opts {
  aspect-ratio: 1;
  text-align: center;
  font-size: var(--font-sm);
}
.f0l__app-rail .f0l_rail-tile-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.f0l__app-rail .f0l_rail-item {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.f0l__app-rail .f0l_rail-item-opts {
  padding: var(--el-sm);
}
.f0l__app-rail .f0l_rail-label {
  padding-top: var(--el-sm);
}
.f0l__app-rail .f0l_app-rail-inner.hidden-radio {
  overflow: hidden;
  width: 0px;
  height: 0px;
}
.f0l__app-shell {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.f0l__app-shell .f0l_site-header {
  display: flex;
  position: sticky;
  top: 0;
}
.f0l__app-shell .f0l_site-header-opts {
  z-index: 10;
}
.f0l__app-shell .f0l_site-central-wrapper {
  display: flex;
  flex: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.f0l__app-shell .f0l_site-sidebar-left {
  display: flex;
  flex: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.f0l__app-shell .f0l_site-sidebar-left-opts {
  width: auto;
}
.f0l__app-shell .f0l_site-sitebar-right {
  display: flex;
  flex: none;
  overflow-x: hidden;
  overflow-y: auto;
}
.f0l__app-shell .f0l_site-sidebar-right-opts {
  width: auto;
}
.f0l__app-shell .f0l_page {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;
}
.f0l__app-shell .f0l_page-main {
  display: flex;
  flex: none;
}
.f0l__app-shell .f0l_page-header {
  display: flex;
  flex: none;
}
.f0l__app-shell .f0l_page-footer {
  display: flex;
  flex: none;
}
.f0l__app-shell .f0l_site-footer {
  display: flex;
  flex: none;
}
.drawer {
  background: white;
  overflow-y: auto;
  transition: transform;
}
.drawer-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  background: rgba(0, 0, 0, 0.3);
}
.drawer-backdrop-options {
  z-index: 40;
}
.drawer-top {
  align-items: start;
  width: 100%;
  height: 50%;
  border-radius: var(--ui-roundness) var(--ui-roundness) 0 0;
}
.drawer-bottom {
  align-items: end;
  width: 100%;
  height: 50%;
  border-radius: 0 0 var(--ui-roundness) var(--ui-roundness);
}
.drawer-left {
  justify-content: start;
  width: 90%;
  height: 100%;
  border-radius: 0 var(--ui-roundness) var(--ui-roundness) 0;
}
.drawer-right {
  justify-content: end;
  width: 90%;
  height: 100%;
  border-radius: var(--ui-roundness) 0 0 var(--ui-roundness);
}
.slide-toggle {
  display: flex;
  align-items: center;
  border-radius: var(--ui-input-roundness);
}
.track {
  cursor: pointer;
  display: flex;
  border-radius: 1000px;
}
.track-xl {
  width: var(--spacing-16);
  height: var(--spacing-8);
}
.track-large {
  width: var(--spacing-14);
  height: var(--spacing-7);
}
.track-medium {
  width: var(--spacing-12);
  height: var(--spacing-6);
}
.track-small {
  width: var(--spacing-10);
  height: var(--spacing-5);
}
.thumb {
  display: inline-block;
  border-radius: 1000px;
  width: 50%;
  height: 100%;
  transform: scale(0.8);
  transition: all 0.2s ease-in-out;
}
.on {
  transform: translateX(100%) scale(0.8);
}
