.bg-primary-base {
  background-color: var(--color-primary-base);
}

.bg-primary-light {
  background-color: var(--color-primary-light);
}

.bg-primary-light-dark {
  background-color: var(--color-primary-light);
}

.dark .bg-primary-light-dark {
  background-color: var(--color-primary-dark);
}

.bg-primary-mlt {
  background-color: var(--color-primary-mlt);
}

.bg-primary-mlt-mdk {
  background-color: var(--color-primary-mlt);
}

.dark .bg-primary-mlt-mdk {
  background-color: var(--color-primary-mdk);
}

.bg-primary-mdk {
  background-color: var(--color-primary-mdk);
}

.bg-primary-dark {
  background-color: var(--color-primary-dark);
}

/* Secondary Backgrounds */
.bg-secondary-base {
  background-color: var(--color-secondary-base);
}

.bg-secondary-light {
  background-color: var(--color-secondary-light);
}

.bg-secondary-light-dark {
  background-color: var(--color-secondary-light);
}

.dark .bg-secondary-light-dark {
  background-color: var(--color-secondary-dark);
}

.bg-secondary-mlt {
  background-color: var(--color-secondary-mlt);
}

.bg-secondary-mlt-mdk {
  background-color: var(--color-secondary-mlt);
}

.dark .bg-secondary-mlt-mdk {
  background-color: var(--color-secondary-mdk);
}

.bg-secondary-mdk {
  background-color: var(--color-secondary-mdk);
}

.bg-secondary-dark {
  background-color: var(--color-secondary-dark);
}

/* Tertiary Backgrounds */
.bg-tertiary-base {
  background-color: var(--color-tertiary-base);
}

.bg-tertiary-light {
  background-color: var(--color-tertiary-light);
}

.bg-tertiary-light-dark {
  background-color: var(--color-tertiary-light);
}

.dark .bg-tertiary-light-dark {
  background-color: var(--color-tertiary-dark);
}

.bg-tertiary-mlt {
  background-color: var(--color-tertiary-mlt);
}

.bg-tertiary-mlt-mdk {
  background-color: var(--color-tertiary-mlt);
}

.dark .bg-tertiary-mlt-mdk {
  background-color: var(--color-tertiary-mdk);
}

.bg-tertiary-mdk {
  background-color: var(--color-tertiary-mdk);
}

.bg-tertiary-dark {
  background-color: var(--color-tertiary-dark);
}

/* Quaternary Backgrounds */
.bg-quaternary-base {
  background-color: var(--color-quaternary-base);
}

.bg-quaternary-light {
  background-color: var(--color-quaternary-light);
}

.bg-quaternary-light-dark {
  background-color: var(--color-quaternary-light);
}

.dark .bg-quaternary-light-dark {
  background-color: var(--color-quaternary-dark);
}

.bg-quaternary-mlt {
  background-color: var(--color-quaternary-mlt);
}

.bg-quaternary-mlt-mdk {
  background-color: var(--color-quaternary-mlt);
}

.dark .bg-quaternary-mlt-mdk {
  background-color: var(--color-quaternary-mdk);
}

.bg-quaternary-mdk {
  background-color: var(--color-quaternary-mdk);
}

.bg-quaternary-dark {
  background-color: var(--color-quaternary-dark);
}

/* Quinary Backgrounds */
.bg-quinary-base {
  background-color: var(--color-quinary-base);
}

.bg-quinary-light {
  background-color: var(--color-quinary-light);
}

.bg-quinary-light-dark {
  background-color: var(--color-quinary-light);
}

.dark .bg-quinary-light-dark {
  background-color: var(--color-quinary-dark);
}

.bg-quinary-mlt {
  background-color: var(--color-quinary-mlt);
}

.bg-quinary-mlt-mdk {
  background-color: var(--color-quinary-mlt);
}

.dark .bg-quinary-mlt-mdk {
  background-color: var(--color-quinary-mdk);
}

.bg-quinary-mdk {
  background-color: var(--color-quinary-mdk);
}

.bg-quinary-dark {
  background-color: var(--color-quinary-dark);
}

/* Success Backgrounds */
.bg-success-base {
  background-color: var(--color-success-base);
}

.bg-success-light {
  background-color: var(--color-success-light);
}

.bg-success-light-dark {
  background-color: var(--color-success-light);
}

.dark .bg-success-light-dark {
  background-color: var(--color-success-dark);
}

.bg-success-mlt {
  background-color: var(--color-success-mlt);
}

.bg-success-mlt-mdk {
  background-color: var(--color-success-mlt);
}

.dark .bg-success-mlt-mdk {
  background-color: var(--color-success-mdk);
}

.bg-success-mdk {
  background-color: var(--color-success-mdk);
}

.bg-success-dark {
  background-color: var(--color-success-dark);
}

/* Warning Backgrounds */
.bg-warning-base {
  background-color: var(--color-warning-base);
}

.bg-warning-light {
  background-color: var(--color-warning-light);
}

.bg-warning-light-dark {
  background-color: var(--color-warning-light);
}

.dark .bg-warning-light-dark {
  background-color: var(--color-warning-dark);
}

.bg-warning-mlt {
  background-color: var(--color-warning-mlt);
}

.bg-warning-mlt-mdk {
  background-color: var(--color-warning-mlt);
}

.dark .bg-warning-mlt-mdk {
  background-color: var(--color-warning-mdk);
}

.bg-warning-mdk {
  background-color: var(--color-warning-mdk);
}

.bg-warning-dark {
  background-color: var(--color-warning-dark);
}

/* Error Backgrounds */
.bg-error-base {
  background-color: var(--color-error-base);
}

.bg-error-light {
  background-color: var(--color-error-light);
}

.bg-error-light-dark {
  background-color: var(--color-error-light);
}

.dark .bg-error-light-dark {
  background-color: var(--color-error-dark);
}

.bg-error-mlt {
  background-color: var(--color-error-mlt);
}

.bg-error-mlt-mdk {
  background-color: var(--color-error-mlt);
}

.dark .bg-error-mlt-mdk {
  background-color: var(--color-error-mdk);
}

.bg-error-mdk {
  background-color: var(--color-error-mdk);
}

.bg-error-dark {
  background-color: var(--color-error-dark);
}

/* Neutral Backgrounds */
.bg-neutral-base {
  background-color: var(--color-neutral-base);
}

.bg-neutral-light {
  background-color: var(--color-neutral-light);
}

.bg-neutral-light-dark {
  background-color: var(--color-neutral-light);
}

.dark .bg-neutral-light-dark {
  background-color: var(--color-neutral-dark);
}

.bg-neutral-mlt {
  background-color: var(--color-neutral-mlt);
}

.bg-neutral-mlt-mdk {
  background-color: var(--color-neutral-mlt);
}

.dark .bg-neutral-mlt-mdk {
  background-color: var(--color-neutral-mdk);
}

.bg-neutral-mdk {
  background-color: var(--color-neutral-mdk);
}

.bg-neutral-dark {
  background-color: var(--color-neutral-dark);
}

/* Page Backgrounds */
.bg-page-base {
  background-color: var(--color-page-base);
}

.dark .bg-page-base {
  background-color: var(--color-page-contrast-base);
}

/* Page Contrast Backgrounds */
.bg-page-contrast-base {
  background-color: var(--color-page-contrast-base);
}

.dark .bg-page-contrast-base {
  background-color: var(--color-page-base);
}
