---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title="CSS Properties and Classes">
    <div class="inner-page-wrapper docs-css-props-classes">
      <h1>CSS Properties and Classes</h1>
      <h3>CSS Properties</h3>
      <p>Foliole utilizes <span class="font-bold">CSS properties </span>to offer customizable styling options. These properties are applied to <span class="font-bold">Foliole Elements</span> (such as Buttons and Inputs), used to create <span class="font-bold">Foliole Variants</span> (dynamic styles which change via context such as light and dark mode), and integrating with <span>Foliole Framework Components</span> (such as Modals and AppShell). </p>
      <p>They are used to create utility classes for non Tailwind users (background colors). Foliole also offers it's own utility classes (ie: .ui-roundness, which can be used to create uniformed styles through the project). Users can also use the CSS properities themselves to compose their own classes.</p>
    </div>
</Layout>
