---
import Layout from '../../../layouts/Layout.astro';
---
<Layout title="CSS Properties and Classes">
  <div>
    <h1>CSS Properties and Classes</h1>
    <h3>CSS Properties</h3>
    <p>Foliole utilizes CSS properties to offer customizable styling options. These properties can be applied to Foliole Elements (such as Buttons and Inputs) for establishing base styles, creating variants, and integrating with Foliole Framework Components (such as Modals and AppShell).</p>
    <p>This allows for for use with or without Tailwind CSS. Foliole aligns these properties with their corresponding Tailwind equivalents, ensuring that Foliole Components harmonize with Tailwind styles. For users who wish to configure Tailwind's defaults, Foliole offers a straightforward method through the Theme Generator to synchronize Tokens with Tailwind configurations."</p>
    <p>Internally, Foliole employs two sets of properties: Base and Tokens. Tokens are either derived from other Tokens or serve as one-off solutions to promote theme consistency. For instance, to maintain uniform rounding throughout a theme, Foliole utilizes a token based on the chosen --ui-roundness-[none|sm|md|etc...]set of tokens, ensuring consistent rounding styles. Another example of a one-off solution is the choice of Base and Secondary Fonts.</p>
    <p>Properties and Tokens are generated during the build process in the form of predefined Themes or customize settings using the Theme Generator. Additionally, Tokens can be easily modified and configured by editing your CSS file.</p>
    <h3>CSS Utilities Classes</h3>
    <p>Tailwind utilities...</p>
    <p>Foliole classes when not using Tailwind....</p>
    <h3>CSS Variant Classes</h3>
    <p>Dynamic classes--dark/light mode. on-color fonts.</p>
    <h1>Framework and CSS Components.</h1>
  </div>
</Layout>
