---
import "../index.css"

import AppShell from  '../components/AppShell.vue'

const { title } = Astro.props; 

const pathname = new URL(Astro.request.url).pathname;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="https://use.typekit.net/tqq6mmg.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<AppShell
				pathname={pathname}
				client:load
			>
				<slot></slot>
			</AppShell> 
	</body>
</html>

