/* .btn-sm {
  font-size: var(--scale-00);
  padding: var(--btn-p-sm);
}
.btn-md {
  font-size: var(--scale-0);
  padding: var(--btn-p-base);
}
.btn-lg {
  font-size: var(--scale-1);
  padding: var(--btn-p-lg);
}
.btn-rounded {
  border-radius: var(--rounded);
}
.btn-pill {
  border-radius: var(--rounded-full);
}
.btn-base {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  white-space: nowrap;
}
.bg-primary {
  background-color: var(--color-primary);
}
.bg-primary-light {
  background-color: var(--color-primary-light);
}
.bg-primary-light-dark {
  background-color: var(--color-primary-light);
}
.dark .bg-primary-light-dark {
  background-color: var(--color-primary-dark);
}
.bg-primary-mlt {
  background-color: var(--color-primary-mlt);
}
.bg-primary-mlt-mdk {
  background-color: var(--color-primary-mlt);
}
.dark .bg-primary-mlt-mdk {
  background-color: var(--color-primary-mdk);
}
.bg-primary-mdk {
  background-color: var(--color-primary-mdk);
}
.bg-primary-dark {
  background-color: var(--color-primary-dark);
}
.bg-secondary {
  background-color: var(--color-secondary);
}
.bg-secondary-light {
  background-color: var(--color-secondary-light);
}
.bg-secondary-light-dark {
  background-color: var(--color-secondary-light);
}
.dark .bg-secondary-light-dark {
  background-color: var(--color-secondary-dark);
}
.bg-secondary-mlt {
  background-color: var(--color-secondary-mlt);
}
.bg-secondary-mlt-mdk {
  background-color: var(--color-secondary-mlt);
}
.dark .bg-secondary-mlt-mdk {
  background-color: var(--color-secondary-mdk);
}
.bg-secondary-mdk {
  background-color: var(--color-secondary-mdk);
}
.bg-secondary-dark {
  background-color: var(--color-secondary-dark);
}
.bg-tertiary {
  background-color: var(--color-tertiary);
}
.bg-tertiary-light {
  background-color: var(--color-tertiary-light);
}
.bg-tertiary-light-dark {
  background-color: var(--color-tertiary-light);
}
.dark .bg-tertiary-light-dark {
  background-color: var(--color-tertiary-dark);
}
.bg-tertiary-mlt {
  background-color: var(--color-tertiary-mlt);
}
.bg-tertiary-mlt-mdk {
  background-color: var(--color-tertiary-mlt);
}
.dark .bg-tertiary-mlt-mdk {
  background-color: var(--color-tertiary-mdk);
}
.bg-tertiary-mdk {
  background-color: var(--color-tertiary-mdk);
}
.bg-tertiary-dark {
  background-color: var(--color-tertiary-dark);
}
.bg-quat {
  background-color: var(--color-quat);
}
.bg-quat-light {
  background-color: var(--color-quat-light);
}
.bg-quat-light-dark {
  background-color: var(--color-quat-light);
}
.dark .bg-quat-light-dark {
  background-color: var(--color-quat-dark);
}
.bg-quat-mlt {
  background-color: var(--color-quat-mlt);
}
.bg-quat-mlt-mdk {
  background-color: var(--color-quat-mlt);
}
.dark .bg-quat-mlt-mdk {
  background-color: var(--color-quat-mdk);
}
.bg-quat-mdk {
  background-color: var(--color-quat-mdk);
}
.bg-quat-dark {
  background-color: var(--color-quat-dark);
}
.bg-quin {
  background-color: var(--color-quin);
}
.bg-quin-light {
  background-color: var(--color-quin-light);
}
.bg-quin-light-dark {
  background-color: var(--color-quin-light);
}
.dark .bg-quin-light-dark {
  background-color: var(--color-quin-dark);
}
.bg-quin-mlt {
  background-color: var(--color-quin-mlt);
}
.bg-quin-mlt-mdk {
  background-color: var(--color-quin-mlt);
}
.dark .bg-quin-mlt-mdk {
  background-color: var(--color-quin-mdk);
}
.bg-quin-mdk {
  background-color: var(--color-quin-mdk);
}
.bg-quin-dark {
  background-color: var(--color-quin-dark);
}
.bg-success {
  background-color: var(--color-success);
}
.bg-success-light {
  background-color: var(--color-success-light);
}
.bg-success-light-dark {
  background-color: var(--color-success-light);
}
.dark .bg-success-light-dark {
  background-color: var(--color-success-dark);
}
.bg-success-mlt {
  background-color: var(--color-success-mlt);
}
.bg-success-mlt-mdk {
  background-color: var(--color-success-mlt);
}
.dark .bg-success-mlt-mdk {
  background-color: var(--color-success-mdk);
}
.bg-success-mdk {
  background-color: var(--color-success-mdk);
}
.bg-success-dark {
  background-color: var(--color-success-dark);
}
.bg-warning {
  background-color: var(--color-warning);
}
.bg-warning-light {
  background-color: var(--color-warning-light);
}
.bg-warning-light-dark {
  background-color: var(--color-warning-light);
}
.dark .bg-warning-light-dark {
  background-color: var(--color-warning-dark);
}
.bg-warning-mlt {
  background-color: var(--color-warning-mlt);
}
.bg-warning-mlt-mdk {
  background-color: var(--color-warning-mlt);
}
.dark .bg-warning-mlt-mdk {
  background-color: var(--color-warning-mdk);
}
.bg-warning-mdk {
  background-color: var(--color-warning-mdk);
}
.bg-warning-dark {
  background-color: var(--color-warning-dark);
}
.bg-error {
  background-color: var(--color-error);
}
.bg-error-light {
  background-color: var(--color-error-light);
}
.bg-error-light-dark {
  background-color: var(--color-error-light);
}
.dark .bg-error-light-dark {
  background-color: var(--color-error-dark);
}
.bg-error-mlt {
  background-color: var(--color-error-mlt);
}
.bg-error-mlt-mdk {
  background-color: var(--color-error-mlt);
}
.dark .bg-error-mlt-mdk {
  background-color: var(--color-error-mdk);
}
.bg-error-mdk {
  background-color: var(--color-error-mdk);
}
.bg-error-dark {
  background-color: var(--color-error-dark);
}
.bg-neutral {
  background-color: var(--color-neutral);
}
.bg-neutral-light {
  background-color: var(--color-neutral-light);
}
.bg-neutral-light-dark {
  background-color: var(--color-neutral-light);
}
.dark .bg-neutral-light-dark {
  background-color: var(--color-neutral-dark);
}
.bg-neutral-mlt {
  background-color: var(--color-neutral-mlt);
}
.bg-neutral-mlt-mdk {
  background-color: var(--color-neutral-mlt);
}
.dark .bg-neutral-mlt-mdk {
  background-color: var(--color-neutral-mdk);
}
.bg-neutral-mdk {
  background-color: var(--color-neutral-mdk);
}
.bg-neutral-dark {
  background-color: var(--color-neutral-dark);
}
.bg-page {
  background-color: var(--color-page);
}
.dark .bg-page {
  background-color: var(--color-page-contrast);
}
.bg-page-contrast {
  background-color: var(--color-page-contrast);
}
.dark .bg-page-contrast {
  background-color: var(--color-page);
}
.bg-surface {
  background-color: var(--color-surface);
}
.dark .bg-surface {
  background-color: var(--color-surface-contrast);
}
.bg-surface-contrast {
  background-color: var(--color-surface-contrast);
}
.dark .bg-surface-contrast {
  background-color: var(--color-surface);
}
.rounded {
  border-radius: var(--rounded);
} */
