---
import Layout from '../../layouts/Layout.astro';

import ThemeGenerator from '../../components/theme-generator/ThemeGenerator.svelte';
---
<Layout title="Welcome to Astro.">
<ThemeGenerator client:load  />
  <p>astro</p> 
</Layout>